﻿@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mobile Attendance</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700|Roboto:300,400,500,600,700">
    <!--begin::Page Vendors Styles(used by this page) -->
    <link href="~/assets/plugins/custom/fullcalendar/fullcalendar.bundle.css" rel="stylesheet" type="text/css" />

    <!--end::Page Vendors Styles -->
    <!--begin::Global Theme Styles(used by all pages) -->
    <link href="~/assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/style.bundle.css" rel="stylesheet" type="text/css" />

    <!--end::Global Theme Styles -->
    <!--begin::Layout Skins(used by all pages) -->
    <link href="~/assets/css/skins/header/base/light.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/skins/header/menu/light.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/skins/brand/dark.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/skins/aside/dark.css" rel="stylesheet" type="text/css" />


    <style>
#invoice{
    padding: 30px;
}

.invoice {
    position: relative;
    background-color: #FFF;
    min-height: 680px;
    padding: 15px
}

.invoice header {
    padding: 10px 0;
    margin-bottom: 20px;
    border-bottom: 1px solid #3989c6
}

.invoice .company-details {
    text-align: right
}

.invoice .company-details .name {
    margin-top: 0;
    margin-bottom: 0
}

.invoice .contacts {
    margin-bottom: 20px
}

.invoice .invoice-to {
    text-align: left
}

.invoice .invoice-to .to {
    margin-top: 0;
    margin-bottom: 0
}

.invoice .invoice-details {
    text-align: right
}

.invoice .invoice-details .invoice-id {
    margin-top: 0;
    color: #3989c6
}

.invoice main {
    padding-bottom: 50px
}

.invoice main .thanks {
    margin-top: -100px;
    font-size: 2em;
    margin-bottom: 50px
}

.invoice main .notices {
    padding-left: 6px;
    border-left: 6px solid #3989c6
}

.invoice main .notices .notice {
    font-size: 1.2em
}

.invoice table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 20px
}

.invoice table td,.invoice table th {
    padding: 15px;
}

.invoice table th {
    white-space: nowrap;
    font-weight: 400;
    font-size: 16px
}

.invoice table td h3 {
    margin: 0;
    font-weight: 400;
    color: #3989c6;
    font-size: 1.2em
}

.invoice table .qty,.invoice table .total,.invoice table .unit {
    text-align: right;
    font-size: 1.2em
}

.invoice table .no {
    color: #fff;
    font-size: 1.6em;
    background: #3989c6
}

.invoice table .unit {
    background: #ddd
}

.invoice table .total {
    background: #3989c6;
    color: #fff
}


.invoice table tfoot td {
    background: 0 0;
    border-bottom: none;
    white-space: nowrap;
    text-align: right;
    padding: 10px 20px;
    font-size: 1.2em;
    border-top: 1px solid #aaa
}

.invoice table tfoot tr:first-child td {
    border-top: none
}

.invoice table tfoot tr:last-child td {
    color: #3989c6;
    font-size: 1.4em;
    border-top: 1px solid #3989c6
}

.invoice table tfoot tr td:first-child {
    border: none
}

.invoice footer {
    width: 100%;
    text-align: center;
    color: #777;
    border-top: 1px solid #aaa;
    padding: 8px 0
}

@@media print {
    .invoice {
        font-size: 11px!important;
        overflow: hidden!important
    }

    .invoice footer {
        position: absolute;
        bottom: 10px;
        page-break-after: always
    }

    .invoice>div:last-child {
        page-break-before: always
    }
}
    </style>

    
</head>
<body class="">
    <!-- begin:: Page -->

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->
    <!--Author      : @@arboshiki-->
    <div id="invoice">


        <div class="invoice overflow-auto">
            <div style="min-width: 600px">
                <header>
                    <div class="row">
                        <div class="col">
                            <img src="~/assets/media/logos/logo-280.png" data-holder-rendered="true" />
                        </div>
                        <div class="col company-details">
                            <h2 class="name">
                                Equity Tower, 48th Floor, SCBD Lot.9
                            </h2>
                            <div>Jl. Jenderal Sudirman, Kav.52-53</div>
                            <div>Jakarta, 12190, Indonesia</div>
                            <div>+62 (21) 515-3335</div>
                            <div>corpsec@@jresources.com</div>
                        </div>
                    </div>
                </header>
                <main>
                    <h2 class="to" style="text-align: center;">SURAT KETERANGAN KERJA</h2>
                    <h4 style="text-align: center; margin-bottom: 10px;">No : SKK/HRD-DEP/JRBM/1421/042020</h4>

                    <div class="notices" style="border-left: 0; padding-left: 0;">
                        <div class="notice">
                            Yang bertanda tangan dibawah ini bertindak dan atas nama Human Resource Department Manager PT J
                            RESOURCES BOLAANG MONGONDOW, yang berkedudukan di Jl. Kol. Sugiono No. 24, Kotabangun ,
                            Kotamobagu Timur ,Sulawesi Utara 95712 -Indonesia. Telp.: +62 (434) 21018 Fax.: +62 (434) 22965 / 23387,
                            menerangkan dengan sebenarnya bahwa :
                        </div>
                    </div>

                    <br />
                    <br />

                    <div class="row justify-content-md-center">

                        <div class="col-md-auto" style="padding: 10px 100px;">

                            <table class="table table-bordered" border="0" cellspacing="0" cellpadding="0">
                                <tbody>
                                    <tr>
                                        <td style="width: 200px;">Nama</td>
                                        <td>:</td>
                                        <td>EDI HARTANTO</td>
                                    </tr>
                                    <tr>
                                        <td>NIK</td>
                                        <td>:</td>
                                        <td>AK-1369</td>
                                    </tr>
                                    <tr>
                                        <td>Tempat, Tanggal Lahir</td>
                                        <td>:</td>
                                        <td>MAGELANG, 26/Mar/1993</td>
                                    </tr>
                                    <tr>
                                        <td>Alamat</td>
                                        <td>:</td>
                                        <td>
                                            DSN GLAGAH 2 RT. 03 RW. 04,
                                            DESA BANJARNEGORO, KEC.
                                            MERTOYUDAN Magelang Jawa
                                            Tengah
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>

                    </div>


                    <div class="notices" style="border-left: 0; padding-left: 0;">
                        <div class="notice">
                            Telah bekerja di perusahaan kami sejak tanggal 03/Nov/2014 dengan jabatan terakhir sebagai Mechanic -
                            Wheel Equipment Maintenance. Karyawan tersebut diatas telah menjalankan pengawasan kesehatan yang
                            ketat dari tim pencegahan penyebaran COVID-19 perusahaan selama 14 hari terakhir sejak tanggal
                            04/Apr/2020 s/d 18/Apr/2020 dengan hasil sebagai berikut
                        </div>
                    </div>

                    <br />

                    <div class="notices" style="border-left: 0; padding-left: 0;">
                        <div class="notice">
                            Demikian surat keterangan ini diberikan untuk dapat digunakan sebagaimana mestinya.
                        </div>
                    </div>





                </main>
                <footer>
                    Invoice was created on a computer and is valid without the signature and seal.
                </footer>
            </div>
            <!--DO NOT DELETE THIS div. IT is responsible for showing footer always at the bottom-->
            <div></div>
        </div>
    </div>



    <!-- end:: Page -->
    <!--begin::Global Theme Bundle(used by all pages) -->
    <script src="~/assets/plugins/global/plugins.bundle.js" type="text/javascript"></script>
    <script src="~/assets/js/scripts.bundle.js" type="text/javascript"></script>
    <!--end::Global Theme Bundle -->





</body>
</html>
