﻿@{
    ViewData["Title"] = "Clean DDD Architecture Sample";
}


<div class="kt-subheader  kt-grid__item" id="kt_subheader">
    <div class="kt-container  kt-container--fluid ">
        <div class="kt-subheader__main">
            <h3 class="kt-subheader__title">Employee List</h3>
            <span class="kt-subheader__separator kt-subheader__separator--v"></span>
            <span class="kt-subheader__desc">#XRS-45670</span>
            <a href="#" class="btn btn-label-warning btn-bold btn-sm btn-icon-h kt-margin-l-10">
                Add New
            </a>
            <div class="kt-input-icon kt-input-icon--right kt-subheader__search kt-hidden">
                <input type="text" class="form-control" placeholder="Search order..." id="generalSearch">
                <span class="kt-input-icon__icon kt-input-icon__icon--right">
                    <span><i class="flaticon2-search-1"></i></span>
                </span>
            </div>
        </div>
        <div class="kt-subheader__toolbar">
            <div class="kt-subheader__wrapper">
                <a href="#" class="btn kt-subheader__btn-daterange" id="kt_dashboard_daterangepicker" data-toggle="kt-tooltip" title="Select dashboard daterange" data-placement="left">
                    <span class="kt-subheader__btn-daterange-title" id="kt_dashboard_daterangepicker_title">Today</span>&nbsp;
                    <span class="kt-subheader__btn-daterange-date" id="kt_dashboard_daterangepicker_date">January 14 2020</span>
                    <i class="flaticon2-calendar-1"></i>
                </a>
            </div>
        </div>
    </div>
</div>

<!-- end:: Content Head -->
<!-- begin:: Content -->
<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
    <div class="kt-portlet kt-portlet--mobile">
        <div class="kt-portlet__head kt-portlet__head--lg">
            <div class="kt-portlet__head-label">
                <span class="kt-portlet__head-icon">
                    <i class="kt-font-brand flaticon-user"></i>
                </span>
                <h3 class="kt-portlet__head-title">
                    Employee Data
                </h3>
            </div>
        </div>
        <div class="kt-portlet__body kt-portlet__body--fit">

            <!--begin: Datatable -->
            <div class="kt-datatable kt-datatable--default kt-datatable--brand kt-datatable--loaded" id="local_data" style="">
                <table class="kt-datatable__table" style="display: block;">
                    <thead class="kt-datatable__head">
                        <tr class="kt-datatable__row" style="left: 0px;">
                            <th data-field="RecordID" class="kt-datatable__cell--center kt-datatable__cell kt-datatable__cell--check">
                                <span style="width: 20px;">
                                    <label class="kt-checkbox kt-checkbox--single kt-checkbox--all kt-checkbox--solid"><input type="checkbox">&nbsp;<span></span></label>
                                </span>
                            </th>
                            <th data-field="OrderID" class="kt-datatable__cell kt-datatable__cell--sort"><span style="width: 133px;">NIK</span></th>
                            <th data-field="Country" class="kt-datatable__cell kt-datatable__cell--sort"><span style="width: 133px;">Country</span></th>
                            <th data-field="ShipDate" class="kt-datatable__cell kt-datatable__cell--sort"><span style="width: 133px;">Join Date</span></th>
                            <th data-field="CompanyName" class="kt-datatable__cell kt-datatable__cell--sort"><span style="width: 133px;">Department Name</span></th>
                            <th data-field="Status" class="kt-datatable__cell kt-datatable__cell--sort"><span style="width: 133px;">Status</span></th>
                            <th data-field="Type" data-autohide-disabled="false" class="kt-datatable__cell kt-datatable__cell--sort"><span style="width: 133px;">Type</span></th>
                            <th data-field="Actions" data-autohide-disabled="false" class="kt-datatable__cell kt-datatable__cell--sort"><span style="width: 110px;">Actions</span></th>
                        </tr>
                    </thead>
                    <tbody class="kt-datatable__body" style="">
                        <tr data-row="0" class="kt-datatable__row" style="left: 0px;">
                            <td class="kt-datatable__cell--center kt-datatable__cell kt-datatable__cell--check" data-field="RecordID">
                                <span style="width: 20px;">
                                    <label class="kt-checkbox kt-checkbox--single kt-checkbox--solid"><input type="checkbox" value="1">&nbsp;<span></span></label>
                                </span>
                            </td>
                            <td data-field="OrderID" class="kt-datatable__cell"><span style="width: 133px;">0374-5070</span></td>
                            <td data-field="Country" class="kt-datatable__cell"><span style="width: 133px;">Jakarta</span></td>
                            <td data-field="ShipDate" class="kt-datatable__cell"><span style="width: 133px;">8/27/2017</span></td>
                            <td data-field="CompanyName" class="kt-datatable__cell"><span style="width: 133px;">Sales</span></td>
                            <td data-field="Status" class="kt-datatable__cell">
                                <span style="width: 133px;"><span class="kt-badge  kt-badge--danger kt-badge--inline kt-badge--pill">Danger</span></span>
                            </td>
                            <td data-field="Type" data-autohide-disabled="false" class="kt-datatable__cell">
                                <span style="width: 133px;"><span class="kt-badge kt-badge--primary kt-badge--dot"></span>&nbsp;<span class="kt-font-bold kt-font-primary">Field Staff</span></span>
                            </td>
                            <td data-field="Actions" data-autohide-disabled="false" class="kt-datatable__cell"><span style="overflow: visible; position: relative; width: 110px;">						<div class="dropdown">							<a data-toggle="dropdown" class="btn btn-sm btn-clean btn-icon btn-icon-md">                                <i class="la la-cog"></i>                            </a>						  	<div class="dropdown-menu dropdown-menu-right">						    	<a href="#" class="dropdown-item"><i class="la la-edit"></i> Edit Details</a>						    	<a href="#" class="dropdown-item"><i class="la la-leaf"></i> Update Status</a>						    	<a href="#" class="dropdown-item"><i class="la la-print"></i> Generate Report</a>						  	</div>						</div>						<a title="Edit details" class="btn btn-sm btn-clean btn-icon btn-icon-md">							<i class="la la-edit"></i>						</a>						<a title="Delete" class="btn btn-sm btn-clean btn-icon btn-icon-md">							<i class="la la-trash"></i>						</a>					</span></td>
                        </tr>
                        <tr data-row="1" class="kt-datatable__row kt-datatable__row--even" style="left: 0px;">
                            <td class="kt-datatable__cell--center kt-datatable__cell kt-datatable__cell--check" data-field="RecordID">
                                <span style="width: 20px;">
                                    <label class="kt-checkbox kt-checkbox--single kt-checkbox--solid"><input type="checkbox" value="2">&nbsp;<span></span></label>
                                </span>
                            </td>
                            <td data-field="OrderID" class="kt-datatable__cell"><span style="width: 133px;">63868-257</span></td>
                            <td data-field="Country" class="kt-datatable__cell"><span style="width: 133px;">Jakarta</span></td>
                            <td data-field="ShipDate" class="kt-datatable__cell"><span style="width: 133px;">9/3/2017</span></td>
                            <td data-field="CompanyName" class="kt-datatable__cell"><span style="width: 133px;">Sales</span></td>
                            <td data-field="Status" class="kt-datatable__cell">
                                <span style="width: 133px;"><span class="kt-badge kt-badge--brand kt-badge--inline kt-badge--pill">Pending</span></span>
                            </td>
                            <td data-field="Type" data-autohide-disabled="false" class="kt-datatable__cell">
                                <span style="width: 133px;"><span class="kt-badge kt-badge--primary kt-badge--dot"></span>&nbsp;<span class="kt-font-bold kt-font-primary">Field Staff</span></span>
                            </td>
                            <td data-field="Actions" data-autohide-disabled="false" class="kt-datatable__cell"><span style="overflow: visible; position: relative; width: 110px;">						<div class="dropdown">							<a data-toggle="dropdown" class="btn btn-sm btn-clean btn-icon btn-icon-md">                                <i class="la la-cog"></i>                            </a>						  	<div class="dropdown-menu dropdown-menu-right">						    	<a href="#" class="dropdown-item"><i class="la la-edit"></i> Edit Details</a>						    	<a href="#" class="dropdown-item"><i class="la la-leaf"></i> Update Status</a>						    	<a href="#" class="dropdown-item"><i class="la la-print"></i> Generate Report</a>						  	</div>						</div>						<a title="Edit details" class="btn btn-sm btn-clean btn-icon btn-icon-md">							<i class="la la-edit"></i>						</a>						<a title="Delete" class="btn btn-sm btn-clean btn-icon btn-icon-md">							<i class="la la-trash"></i>						</a>					</span></td>
                        </tr>
                        <tr data-row="2" class="kt-datatable__row" style="left: 0px;">
                            <td class="kt-datatable__cell--center kt-datatable__cell kt-datatable__cell--check" data-field="RecordID">
                                <span style="width: 20px;">
                                    <label class="kt-checkbox kt-checkbox--single kt-checkbox--solid"><input type="checkbox" value="3">&nbsp;<span></span></label>
                                </span>
                            </td>
                            <td data-field="OrderID" class="kt-datatable__cell"><span style="width: 133px;">49288-0815</span></td>
                            <td data-field="Country" class="kt-datatable__cell"><span style="width: 133px;">Jakarta</span></td>
                            <td data-field="ShipDate" class="kt-datatable__cell"><span style="width: 133px;">4/23/2016</span></td>
                            <td data-field="CompanyName" class="kt-datatable__cell"><span style="width: 133px;">Sales</span></td>
                            <td data-field="Status" class="kt-datatable__cell">
                                <span style="width: 133px;"><span class="kt-badge  kt-badge--info kt-badge--inline kt-badge--pill">Info</span></span>
                            </td>
                            <td data-field="Type" data-autohide-disabled="false" class="kt-datatable__cell">
                                <span style="width: 133px;"><span class="kt-badge kt-badge--danger kt-badge--dot"></span>&nbsp;<span class="kt-font-bold kt-font-danger">Online</span></span>
                            </td>
                            <td data-field="Actions" data-autohide-disabled="false" class="kt-datatable__cell"><span style="overflow: visible; position: relative; width: 110px;">						<div class="dropdown">							<a data-toggle="dropdown" class="btn btn-sm btn-clean btn-icon btn-icon-md">                                <i class="la la-cog"></i>                            </a>						  	<div class="dropdown-menu dropdown-menu-right">						    	<a href="#" class="dropdown-item"><i class="la la-edit"></i> Edit Details</a>						    	<a href="#" class="dropdown-item"><i class="la la-leaf"></i> Update Status</a>						    	<a href="#" class="dropdown-item"><i class="la la-print"></i> Generate Report</a>						  	</div>						</div>						<a title="Edit details" class="btn btn-sm btn-clean btn-icon btn-icon-md">							<i class="la la-edit"></i>						</a>						<a title="Delete" class="btn btn-sm btn-clean btn-icon btn-icon-md">							<i class="la la-trash"></i>						</a>					</span></td>
                        </tr>
                        <tr data-row="3" class="kt-datatable__row kt-datatable__row--even" style="left: 0px;">
                            <td class="kt-datatable__cell--center kt-datatable__cell kt-datatable__cell--check" data-field="RecordID">
                                <span style="width: 20px;">
                                    <label class="kt-checkbox kt-checkbox--single kt-checkbox--solid"><input type="checkbox" value="4">&nbsp;<span></span></label>
                                </span>
                            </td>
                            <td data-field="OrderID" class="kt-datatable__cell"><span style="width: 133px;">49288-0039</span></td>
                            <td data-field="Country" class="kt-datatable__cell"><span style="width: 133px;">Jakarta</span></td>
                            <td data-field="ShipDate" class="kt-datatable__cell"><span style="width: 133px;">9/6/2017</span></td>
                            <td data-field="CompanyName" class="kt-datatable__cell"><span style="width: 133px;">Marketing</span></td>
                            <td data-field="Status" class="kt-datatable__cell">
                                <span style="width: 133px;"><span class="kt-badge kt-badge--brand kt-badge--inline kt-badge--pill">Pending</span></span>
                            </td>
                            <td data-field="Type" data-autohide-disabled="false" class="kt-datatable__cell">
                                <span style="width: 133px;"><span class="kt-badge kt-badge--primary kt-badge--dot"></span>&nbsp;<span class="kt-font-bold kt-font-primary">Field Staff</span></span>
                            </td>
                            <td data-field="Actions" data-autohide-disabled="false" class="kt-datatable__cell"><span style="overflow: visible; position: relative; width: 110px;">						<div class="dropdown">							<a data-toggle="dropdown" class="btn btn-sm btn-clean btn-icon btn-icon-md">                                <i class="la la-cog"></i>                            </a>						  	<div class="dropdown-menu dropdown-menu-right">						    	<a href="#" class="dropdown-item"><i class="la la-edit"></i> Edit Details</a>						    	<a href="#" class="dropdown-item"><i class="la la-leaf"></i> Update Status</a>						    	<a href="#" class="dropdown-item"><i class="la la-print"></i> Generate Report</a>						  	</div>						</div>						<a title="Edit details" class="btn btn-sm btn-clean btn-icon btn-icon-md">							<i class="la la-edit"></i>						</a>						<a title="Delete" class="btn btn-sm btn-clean btn-icon btn-icon-md">							<i class="la la-trash"></i>						</a>					</span></td>
                        </tr>
                        <tr data-row="4" class="kt-datatable__row" style="left: 0px;">
                            <td class="kt-datatable__cell--center kt-datatable__cell kt-datatable__cell--check" data-field="RecordID">
                                <span style="width: 20px;">
                                    <label class="kt-checkbox kt-checkbox--single kt-checkbox--solid"><input type="checkbox" value="5">&nbsp;<span></span></label>
                                </span>
                            </td>
                            <td data-field="OrderID" class="kt-datatable__cell"><span style="width: 133px;">59762-0009</span></td>
                            <td data-field="Country" class="kt-datatable__cell"><span style="width: 133px;">Jakarta</span></td>
                            <td data-field="ShipDate" class="kt-datatable__cell"><span style="width: 133px;">10/28/2017</span></td>
                            <td data-field="CompanyName" class="kt-datatable__cell"><span style="width: 133px;">Sales</span></td>
                            <td data-field="Status" class="kt-datatable__cell">
                                <span style="width: 133px;"><span class="kt-badge  kt-badge--info kt-badge--inline kt-badge--pill">Info</span></span>
                            </td>
                            <td data-field="Type" data-autohide-disabled="false" class="kt-datatable__cell">
                                <span style="width: 133px;"><span class="kt-badge kt-badge--danger kt-badge--dot"></span>&nbsp;<span class="kt-font-bold kt-font-danger">Online</span></span>
                            </td>
                            <td data-field="Actions" data-autohide-disabled="false" class="kt-datatable__cell"><span style="overflow: visible; position: relative; width: 110px;">						<div class="dropdown">							<a data-toggle="dropdown" class="btn btn-sm btn-clean btn-icon btn-icon-md">                                <i class="la la-cog"></i>                            </a>						  	<div class="dropdown-menu dropdown-menu-right">						    	<a href="#" class="dropdown-item"><i class="la la-edit"></i> Edit Details</a>						    	<a href="#" class="dropdown-item"><i class="la la-leaf"></i> Update Status</a>						    	<a href="#" class="dropdown-item"><i class="la la-print"></i> Generate Report</a>						  	</div>						</div>						<a title="Edit details" class="btn btn-sm btn-clean btn-icon btn-icon-md">							<i class="la la-edit"></i>						</a>						<a title="Delete" class="btn btn-sm btn-clean btn-icon btn-icon-md">							<i class="la la-trash"></i>						</a>					</span></td>
                        </tr>
                        <tr data-row="5" class="kt-datatable__row kt-datatable__row--even" style="left: 0px;">
                            <td class="kt-datatable__cell--center kt-datatable__cell kt-datatable__cell--check" data-field="RecordID">
                                <span style="width: 20px;">
                                    <label class="kt-checkbox kt-checkbox--single kt-checkbox--solid"><input type="checkbox" value="6">&nbsp;<span></span></label>
                                </span>
                            </td>
                            <td data-field="OrderID" class="kt-datatable__cell"><span style="width: 133px;">43419-020</span></td>
                            <td data-field="Country" class="kt-datatable__cell"><span style="width: 133px;">Bandung</span></td>
                            <td data-field="ShipDate" class="kt-datatable__cell"><span style="width: 133px;">4/6/2017</span></td>
                            <td data-field="CompanyName" class="kt-datatable__cell"><span style="width: 133px;">Marketing</span></td>
                            <td data-field="Status" class="kt-datatable__cell">
                                <span style="width: 133px;"><span class="kt-badge  kt-badge--info kt-badge--inline kt-badge--pill">Info</span></span>
                            </td>
                            <td data-field="Type" data-autohide-disabled="false" class="kt-datatable__cell">
                                <span style="width: 133px;"><span class="kt-badge kt-badge--success kt-badge--dot"></span>&nbsp;<span class="kt-font-bold kt-font-success">Direct</span></span>
                            </td>
                            <td data-field="Actions" data-autohide-disabled="false" class="kt-datatable__cell"><span style="overflow: visible; position: relative; width: 110px;">						<div class="dropdown">							<a data-toggle="dropdown" class="btn btn-sm btn-clean btn-icon btn-icon-md">                                <i class="la la-cog"></i>                            </a>						  	<div class="dropdown-menu dropdown-menu-right">						    	<a href="#" class="dropdown-item"><i class="la la-edit"></i> Edit Details</a>						    	<a href="#" class="dropdown-item"><i class="la la-leaf"></i> Update Status</a>						    	<a href="#" class="dropdown-item"><i class="la la-print"></i> Generate Report</a>						  	</div>						</div>						<a title="Edit details" class="btn btn-sm btn-clean btn-icon btn-icon-md">							<i class="la la-edit"></i>						</a>						<a title="Delete" class="btn btn-sm btn-clean btn-icon btn-icon-md">							<i class="la la-trash"></i>						</a>					</span></td>
                        </tr>
                        <tr data-row="6" class="kt-datatable__row" style="left: 0px;">
                            <td class="kt-datatable__cell--center kt-datatable__cell kt-datatable__cell--check" data-field="RecordID">
                                <span style="width: 20px;">
                                    <label class="kt-checkbox kt-checkbox--single kt-checkbox--solid"><input type="checkbox" value="7">&nbsp;<span></span></label>
                                </span>
                            </td>
                            <td data-field="OrderID" class="kt-datatable__cell"><span style="width: 133px;">33261-641</span></td>
                            <td data-field="Country" class="kt-datatable__cell"><span style="width: 133px;">Jakarta</span></td>
                            <td data-field="ShipDate" class="kt-datatable__cell"><span style="width: 133px;">4/15/2017</span></td>
                            <td data-field="CompanyName" class="kt-datatable__cell"><span style="width: 133px;">Marketing</span></td>
                            <td data-field="Status" class="kt-datatable__cell">
                                <span style="width: 133px;"><span class="kt-badge  kt-badge--primary kt-badge--inline kt-badge--pill">Canceled</span></span>
                            </td>
                            <td data-field="Type" data-autohide-disabled="false" class="kt-datatable__cell">
                                <span style="width: 133px;"><span class="kt-badge kt-badge--primary kt-badge--dot"></span>&nbsp;<span class="kt-font-bold kt-font-primary">Field Staff</span></span>
                            </td>
                            <td data-field="Actions" data-autohide-disabled="false" class="kt-datatable__cell"><span style="overflow: visible; position: relative; width: 110px;">						<div class="dropdown">							<a data-toggle="dropdown" class="btn btn-sm btn-clean btn-icon btn-icon-md">                                <i class="la la-cog"></i>                            </a>						  	<div class="dropdown-menu dropdown-menu-right">						    	<a href="#" class="dropdown-item"><i class="la la-edit"></i> Edit Details</a>						    	<a href="#" class="dropdown-item"><i class="la la-leaf"></i> Update Status</a>						    	<a href="#" class="dropdown-item"><i class="la la-print"></i> Generate Report</a>						  	</div>						</div>						<a title="Edit details" class="btn btn-sm btn-clean btn-icon btn-icon-md">							<i class="la la-edit"></i>						</a>						<a title="Delete" class="btn btn-sm btn-clean btn-icon btn-icon-md">							<i class="la la-trash"></i>						</a>					</span></td>
                        </tr>
                        <tr data-row="7" class="kt-datatable__row kt-datatable__row--even" style="left: 0px;">
                            <td class="kt-datatable__cell--center kt-datatable__cell kt-datatable__cell--check" data-field="RecordID">
                                <span style="width: 20px;">
                                    <label class="kt-checkbox kt-checkbox--single kt-checkbox--solid"><input type="checkbox" value="8">&nbsp;<span></span></label>
                                </span>
                            </td>
                            <td data-field="OrderID" class="kt-datatable__cell"><span style="width: 133px;">68462-221</span></td>
                            <td data-field="Country" class="kt-datatable__cell"><span style="width: 133px;">Semarang</span></td>
                            <td data-field="ShipDate" class="kt-datatable__cell"><span style="width: 133px;">6/13/2016</span></td>
                            <td data-field="CompanyName" class="kt-datatable__cell"><span style="width: 133px;">Sales</span></td>
                            <td data-field="Status" class="kt-datatable__cell">
                                <span style="width: 133px;"><span class="kt-badge  kt-badge--danger kt-badge--inline kt-badge--pill">Danger</span></span>
                            </td>
                            <td data-field="Type" data-autohide-disabled="false" class="kt-datatable__cell">
                                <span style="width: 133px;"><span class="kt-badge kt-badge--primary kt-badge--dot"></span>&nbsp;<span class="kt-font-bold kt-font-primary">Field Staff</span></span>
                            </td>
                            <td data-field="Actions" data-autohide-disabled="false" class="kt-datatable__cell"><span style="overflow: visible; position: relative; width: 110px;">						<div class="dropdown">							<a data-toggle="dropdown" class="btn btn-sm btn-clean btn-icon btn-icon-md">                                <i class="la la-cog"></i>                            </a>						  	<div class="dropdown-menu dropdown-menu-right">						    	<a href="#" class="dropdown-item"><i class="la la-edit"></i> Edit Details</a>						    	<a href="#" class="dropdown-item"><i class="la la-leaf"></i> Update Status</a>						    	<a href="#" class="dropdown-item"><i class="la la-print"></i> Generate Report</a>						  	</div>						</div>						<a title="Edit details" class="btn btn-sm btn-clean btn-icon btn-icon-md">							<i class="la la-edit"></i>						</a>						<a title="Delete" class="btn btn-sm btn-clean btn-icon btn-icon-md">							<i class="la la-trash"></i>						</a>					</span></td>
                        </tr>
                        <tr data-row="8" class="kt-datatable__row" style="left: 0px;">
                            <td class="kt-datatable__cell--center kt-datatable__cell kt-datatable__cell--check" data-field="RecordID">
                                <span style="width: 20px;">
                                    <label class="kt-checkbox kt-checkbox--single kt-checkbox--solid"><input type="checkbox" value="9">&nbsp;<span></span></label>
                                </span>
                            </td>
                            <td data-field="OrderID" class="kt-datatable__cell"><span style="width: 133px;">68084-555</span></td>
                            <td data-field="Country" class="kt-datatable__cell"><span style="width: 133px;">Jakarta</span></td>
                            <td data-field="ShipDate" class="kt-datatable__cell"><span style="width: 133px;">11/14/2016</span></td>
                            <td data-field="CompanyName" class="kt-datatable__cell"><span style="width: 133px;">Sales</span></td>
                            <td data-field="Status" class="kt-datatable__cell">
                                <span style="width: 133px;"><span class="kt-badge  kt-badge--success kt-badge--inline kt-badge--pill">Success</span></span>
                            </td>
                            <td data-field="Type" data-autohide-disabled="false" class="kt-datatable__cell">
                                <span style="width: 133px;"><span class="kt-badge kt-badge--primary kt-badge--dot"></span>&nbsp;<span class="kt-font-bold kt-font-primary">Field Staff</span></span>
                            </td>
                            <td data-field="Actions" data-autohide-disabled="false" class="kt-datatable__cell"><span style="overflow: visible; position: relative; width: 110px;">						<div class="dropdown">							<a data-toggle="dropdown" class="btn btn-sm btn-clean btn-icon btn-icon-md">                                <i class="la la-cog"></i>                            </a>						  	<div class="dropdown-menu dropdown-menu-right">						    	<a href="#" class="dropdown-item"><i class="la la-edit"></i> Edit Details</a>						    	<a href="#" class="dropdown-item"><i class="la la-leaf"></i> Update Status</a>						    	<a href="#" class="dropdown-item"><i class="la la-print"></i> Generate Report</a>						  	</div>						</div>						<a title="Edit details" class="btn btn-sm btn-clean btn-icon btn-icon-md">							<i class="la la-edit"></i>						</a>						<a title="Delete" class="btn btn-sm btn-clean btn-icon btn-icon-md">							<i class="la la-trash"></i>						</a>					</span></td>
                        </tr>
                        <tr data-row="9" class="kt-datatable__row kt-datatable__row--even" style="left: 0px;">
                            <td class="kt-datatable__cell--center kt-datatable__cell kt-datatable__cell--check" data-field="RecordID">
                                <span style="width: 20px;">
                                    <label class="kt-checkbox kt-checkbox--single kt-checkbox--solid"><input type="checkbox" value="10">&nbsp;<span></span></label>
                                </span>
                            </td>
                            <td data-field="OrderID" class="kt-datatable__cell"><span style="width: 133px;">10565-013</span></td>
                            <td data-field="Country" class="kt-datatable__cell"><span style="width: 133px;">Jakarta</span></td>
                            <td data-field="ShipDate" class="kt-datatable__cell"><span style="width: 133px;">8/2/2017</span></td>
                            <td data-field="CompanyName" class="kt-datatable__cell"><span style="width: 133px;">Sales</span></td>
                            <td data-field="Status" class="kt-datatable__cell">
                                <span style="width: 133px;"><span class="kt-badge  kt-badge--danger kt-badge--inline kt-badge--pill">Danger</span></span>
                            </td>
                            <td data-field="Type" data-autohide-disabled="false" class="kt-datatable__cell">
                                <span style="width: 133px;"><span class="kt-badge kt-badge--danger kt-badge--dot"></span>&nbsp;<span class="kt-font-bold kt-font-danger">Online</span></span>
                            </td>
                            <td data-field="Actions" data-autohide-disabled="false" class="kt-datatable__cell"><span style="overflow: visible; position: relative; width: 110px;">						<div class="dropdown">							<a data-toggle="dropdown" class="btn btn-sm btn-clean btn-icon btn-icon-md">                                <i class="la la-cog"></i>                            </a>						  	<div class="dropdown-menu dropdown-menu-right">						    	<a href="#" class="dropdown-item"><i class="la la-edit"></i> Edit Details</a>						    	<a href="#" class="dropdown-item"><i class="la la-leaf"></i> Update Status</a>						    	<a href="#" class="dropdown-item"><i class="la la-print"></i> Generate Report</a>						  	</div>						</div>						<a title="Edit details" class="btn btn-sm btn-clean btn-icon btn-icon-md">							<i class="la la-edit"></i>						</a>						<a title="Delete" class="btn btn-sm btn-clean btn-icon btn-icon-md">							<i class="la la-trash"></i>						</a>					</span></td>
                        </tr>
                    </tbody>
                </table>
                <div class="kt-datatable__pager kt-datatable--paging-loaded">
                    <ul class="kt-datatable__pager-nav">
                        <li><a title="First" class="kt-datatable__pager-link kt-datatable__pager-link--first kt-datatable__pager-link--disabled" data-page="1" disabled="disabled"><i class="flaticon2-fast-back"></i></a></li>
                        <li><a title="Previous" class="kt-datatable__pager-link kt-datatable__pager-link--prev kt-datatable__pager-link--disabled" data-page="1" disabled="disabled"><i class="flaticon2-back"></i></a></li>
                        <li style=""></li>
                        <li style="display: none;">
                            <input type="text" class="kt-pager-input form-control" title="Page number">
                        </li>
                        <li><a class="kt-datatable__pager-link kt-datatable__pager-link-number kt-datatable__pager-link--active" data-page="1" title="1">1</a></li>
                        <li><a class="kt-datatable__pager-link kt-datatable__pager-link-number" data-page="2" title="2">2</a></li>
                        <li><a class="kt-datatable__pager-link kt-datatable__pager-link-number" data-page="3" title="3">3</a></li>
                        <li><a class="kt-datatable__pager-link kt-datatable__pager-link-number" data-page="4" title="4">4</a></li>
                        <li><a class="kt-datatable__pager-link kt-datatable__pager-link-number" data-page="5" title="5">5</a></li>
                        <li></li>
                        <li><a title="Next" class="kt-datatable__pager-link kt-datatable__pager-link--next" data-page="2"><i class="flaticon2-next"></i></a></li>
                        <li><a title="Last" class="kt-datatable__pager-link kt-datatable__pager-link--last" data-page="10"><i class="flaticon2-fast-next"></i></a></li>
                    </ul>

                </div>
            </div>
            <!--end: Datatable -->
        </div>
    </div>
</div>



@section scripts {
    <script>
    $('#home_employee').addClass('kt-menu__item--active');
    </script>
}