﻿@model CleanArchitecture.Web.Models.SelfMonitoringModel

@{
    Layout = "";
    List<SelectListItem> SiteLocations = (List<SelectListItem>)ViewBag.SiteLocations;
    List<SelectListItem> Provinces = (List<SelectListItem>)ViewBag.Provinces;
}


<!DOCTYPE html>
<html lang="en">

<!-- begin::Head -->
<head>

    <base href="../../../">
    <meta charset="utf-8" />
    <title>PT JResources | Selft Monitoring</title>
    <meta name="description" content="Login page example">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--begin::Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700|Roboto:300,400,500,600,700">

    <!--end::Fonts -->
    <!--begin::Page Custom Styles(used by this page) -->
    <link href="~/assets/css/pages/login/login-1.css" rel="stylesheet" type="text/css" />

    <!--end::Page Custom Styles -->
    <!--begin::Global Theme Styles(used by all pages) -->
    <link href="~/assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/style.bundle.css" rel="stylesheet" type="text/css" />

    <!--end::Global Theme Styles -->
    <!--begin::Layout Skins(used by all pages) -->
    <link href="~/assets/css/skins/header/base/light.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/skins/header/menu/light.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/skins/brand/dark.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/skins/aside/dark.css" rel="stylesheet" type="text/css" />

    <!--end::Layout Skins -->
    <link rel="shortcut icon" href="~/assets/media/logos/favicon.ico" />

    <style>
        .kt-checkbox-list .kt-checkbox {
            margin-bottom: 20px !important;
        }

        .kt-login.kt-login--v1 .kt-login__wrapper .kt-login__body .kt-login__form .kt-form .form-group .form-control {
            margin-top: 0 !important;
        }

        .kt-login.kt-login--v1 .kt-login__wrapper .kt-login__body .kt-login__form .kt-form .form-group {
            margin-bottom: 15px !important;
        }
    </style>
</head>

<!-- end::Head -->
<!-- begin::Body -->
<body class="kt-quick-panel--right kt-demo-panel--right kt-offcanvas-panel--right kt-header--fixed kt-header-mobile--fixed kt-subheader--enabled kt-subheader--fixed kt-subheader--solid kt-aside--enabled kt-aside--fixed kt-page--loading">
    <!-- begin:: Page -->
    <div class="kt-grid kt-grid--ver kt-grid--root">
        <div class="kt-grid kt-grid--hor kt-grid--root  kt-login kt-login--v1" id="kt_login">
            <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--desktop kt-grid--ver-desktop kt-grid--hor-tablet-and-mobile">

                <!--begin::Aside-->
                <div class="kt-grid__item kt-grid__item--order-tablet-and-mobile-2 kt-grid kt-grid--hor kt-login__aside" style="background-image: url(assets/media/bg/background-main-header.jpg);">
                    <div class="kt-grid__item">
                        <a href="#" class="kt-login__logo">
                            <img src="~/assets/media/logos/logo-280.png">
                        </a>
                    </div>
                    <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver">
                        <div class="kt-grid__item kt-grid__item--middle">
                            <h3 class="kt-login__title">Welcome Self Monitoring! </h3>
                        </div>
                    </div>
                </div>

                <!--begin::Aside-->
                <!--begin::Content-->
                <div class="kt-grid__item kt-grid__item--fluid  kt-grid__item--order-tablet-and-mobile-1  kt-login__wrapper" style="padding-top: 1px;">

                    <!--begin::Body-->
                    <div class="kt-login__body" style="margin-top: 0;">

                        <!--begin::Signin-->
                        <div class="kt-login__form">

                            <div id="form-message" class="alert alert-success fade show" role="alert" style="margin-top: 30px; display: none;">
                                <div class="alert-icon"><i class="flaticon-warning"></i></div>
                                <div class="alert-text">Success to check in</div>
                                <div class="alert-close">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true"><i class="la la-close"></i></span>
                                    </button>
                                </div>
                            </div>

                            <!--begin::Form-->
                            <form class="kt-form" action="@Url.Action("SelfMonitoring")" method="post" novalidate="novalidate" id="kt_login_form">


                                <div class="form-group row">
                                    <label class="col-8 col-form-label">Kontraktor (Non Organik/LS Karyawan)</label>
                                    <div class="col-4">
                                        <span class="kt-switch">
                                            <label>
                                                @Html.CheckBox("IsNonEmployee")
                                                <span></span>
                                            </label>
                                        </span>
                                    </div>
                                </div>

                                @Html.HiddenFor(x => x.IsHRMS, new { @value = "true" })
                                @Html.HiddenFor(x => x.Latitude)
                                @Html.HiddenFor(x => x.Longitude)

                                <div id="form-employee" class="form-group ">
                                    <div class="input-group">
                                        <div class="input-group-prepend"><span class="input-group-text"><i class="flaticon2-browser kt-font-brand"></i></span></div>
                                        @Html.TextBoxFor(x => x.NIKSite, new { @class = "form-control", @placeholder = "Nomor Induk Karyawan" })
                                    </div>
                                </div>

                                <!-- KONDISI UNTUK NON EMPLOYEE -->

                                <div id="form-non-employee" style="display: none;">

                                    <div class="form-group ">
                                        <div class="input-group">
                                            <div class="input-group-prepend"><span class="input-group-text"><i class="flaticon-user kt-font-brand"></i></span></div>
                                            @Html.TextBoxFor(x => x.FullName, new { @class = "form-control", @placeholder = "Nama Lengkap" })
                                        </div>
                                    </div>

                                    <div class="form-group ">
                                        <div class="input-group">
                                            <div class="input-group-prepend"><span class="input-group-text"><i class="flaticon2-browser kt-font-brand"></i></span></div>
                                            @Html.TextBoxFor(x => x.NIKCompany, new { @class = "form-control", @placeholder = "Nomor Induk Karyawan" })
                                        </div>
                                    </div>

                                    <div class="form-group ">
                                        <div class="input-group">
                                            <div class="input-group-prepend"><span class="input-group-text"><i class="la la-building kt-font-brand"></i></span></div>
                                            @Html.TextBoxFor(x => x.CompanyName, new { @class = "form-control", @placeholder = "Nama Perusahaan" })
                                        </div>
                                    </div>

                                </div>


                                <div id="form-employee" class="form-group ">
                                    <div class="input-group">
                                        <div class="input-group-prepend"><span class="input-group-text"><i class="flaticon2-browser kt-font-brand"></i></span></div>
                                        @Html.DropDownListFor(x => x.SiteCode, SiteLocations, new { @class = "form-control" })
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-2">
                                        <span class="kt-switch">
                                            <label>
                                                @Html.CheckBoxFor(x => x.IsOnDuty)
                                                <span></span>
                                            </label>
                                        </span>
                                    </div>
                                    <label class="col-8 col-form-label">Karyawan sedang bertugas</label>
                                </div>


                                <div class="kt-login__divider">
                                    <div class="kt-divider">
                                        <span></span>
                                        <span>Lokasi Karyawan</span>
                                        <span></span>
                                    </div>
                                </div>



                                <div id="form-employee" class="form-group ">
                                    <div class="input-group">
                                        <div class="input-group-prepend"><span class="input-group-text"><i class="flaticon2-browser kt-font-brand"></i></span></div>
                                        @Html.DropDownList("Province", Provinces, new { @class = "form-control" })
                                    </div>
                                </div>

                                <div id="form-employee" class="form-group ">
                                    <div class="input-group">
                                        <div class="input-group-prepend"><span class="input-group-text"><i class="flaticon2-browser kt-font-brand"></i></span></div>
                                        @Html.DropDownList("ProvinceArea", new List<SelectListItem>(), new { @class = "form-control" })
                                        @Html.HiddenFor(x => x.Address)
                                    </div>
                                </div>



                                <div class="kt-login__divider">
                                    <div class="kt-divider">
                                        <span></span>
                                        <span>Catatan Karyawan</span>
                                        <span></span>
                                    </div>
                                </div>

                                <div class="form-group ">
                                    <div class="input-group date">
                                        <div class="input-group-prepend"><span class="input-group-text"><i class="la la-calendar-check-o glyphicon-th"></i></span></div>
                                        @Html.TextBoxFor(x => x.DateTimeCheckInStr, new { @class = "form-control", @placeholder = "Pilih Tanggal & Waktu", @style = "margin-top: 0;", @readonly = "" })
                                    </div>
                                </div>

                                <div class="form-group ">
                                    <div class="input-group">
                                        <div class="input-group-prepend"><span class="input-group-text"><i class="fa fa-temperature-low kt-font-brand"></i></span></div>
                                        @Html.TextBoxFor(x => x.BodyTemperatureStr, new { @class = "form-control", @placeholder = "Suhu Tubuh" })
                                    </div>
                                </div>




                                <div class="form-group" style="padding: 20px 10px;">
                                    <div class="kt-checkbox-list">


                                        <label class="kt-checkbox kt-checkbox--warning">
                                            @Html.CheckBoxFor(x => x.IsSoreThroat)
                                            Saya mengalami Sakit Tenggorokan
                                            <span></span>
                                        </label>

                                        <label class="kt-checkbox kt-checkbox--warning">
                                            @Html.CheckBoxFor(x => x.IsFlu)
                                            Saya mengalami Sakit Flu
                                            <span></span>
                                        </label>

                                        <label class="kt-checkbox kt-checkbox--warning">
                                            @Html.CheckBoxFor(x => x.IsFever)
                                            Saya mengalami Sakit Demam
                                            <span></span>
                                        </label>

                                        <label class="kt-checkbox kt-checkbox--warning">
                                            @Html.CheckBoxFor(x => x.IsCough)
                                            Saya mengalami Sakit Batuk
                                            <span></span>
                                        </label>

                                        <label class="kt-checkbox kt-checkbox--warning">
                                            @Html.CheckBoxFor(x => x.IsShortness)
                                            Saya mengalami Sakit Rasa Sesak
                                            <span></span>
                                        </label>

                                        <div class="kt-login__divider">
                                            <div class="kt-divider">
                                                <span></span>
                                                <span>Riwayat Karyawan</span>
                                                <span></span>
                                            </div>
                                        </div>

                                        <label class="kt-checkbox kt-checkbox--warning">
                                            @Html.CheckBoxFor(x => x.IsContactPatient)
                                            Saya ada riwayat kontak dengan orang yang dinyatakan PDP (pasien dalam pengawasan) atau orang dengan positif COVID-19 dalam 14 hari terakhir
                                            <span></span>
                                        </label>

                                        <label class="kt-checkbox kt-checkbox--warning">
                                            @Html.CheckBoxFor(x => x.IsQuarantine)
                                            Saya lakukan karantina mandiri 14 hari sebelum berangkat ke site (untuk pekerja yang akan bertugas ke site)
                                            <span></span>
                                        </label>

                                    </div>
                                </div>

                                <!--begin::Action-->
                                <div class="kt-login__actions" style="margin: 1rem 0;">
                                    <button id="btn-submit" type="submit" class="btn btn-primary btn-elevate kt-login__btn-primary btn-block">Simpan</button>
                                </div>

                                <!--end::Action-->
                            </form>

                            <div class="kt-login__actions" style="margin: 1rem 0;">
                                <button id="btn-download" type="button" class="btn btn-outline-brand btn-elevate btn-block btn-lg"><i class="fa fa-file-pdf"></i> Download SKPM</button>
                            </div>
                            <div class="kt-login__actions" style="margin: 1rem 0;">
                                <a asp-controller="SelfMonitoring" asp-action="History" class="btn btn-secondary btn-elevate kt-login__btn-secondary btn-block">
                                    <i class="fa fa-list"></i> Lihat History
                                </a>
                            </div>





                            <!--end::Form-->
                            <!--begin::Divider-->
                            <div class="kt-login__divider">
                                <div class="kt-divider">
                                    <span></span>
                                    <span>OR</span>
                                    <span></span>
                                </div>
                            </div>
                            <!--end::Divider-->


                            <div class="row">
                                <div class="col-12">
                                    <a asp-controller="Download" asp-action="Index" class="btn btn-outline-secondary btn-block">
                                        <img src="~/assets/media/bg/android-download.png" />
                                    </a>
                                </div>
                            </div>




                        </div>

                        <!--end::Signin-->
                    </div>

                    <!--end::Body-->
                </div>

                <!--end::Content-->
            </div>
        </div>
    </div>

    <!-- end:: Page -->
    <!-- begin::Global Config(global config for global JS sciprts) -->
    <script>
        var KTAppOptions = {
            "colors": {
                "state": {
                    "brand": "#5d78ff",
                    "dark": "#282a3c",
                    "light": "#ffffff",
                    "primary": "#5867dd",
                    "success": "#34bfa3",
                    "info": "#36a3f7",
                    "warning": "#ffb822",
                    "danger": "#fd3995"
                },
                "base": {
                    "label": [
                        "#c5cbe3",
                        "#a1a8c3",
                        "#3d4465",
                        "#3e4466"
                    ],
                    "shape": [
                        "#f0f3ff",
                        "#d9dffa",
                        "#afb4d4",
                        "#646c9a"
                    ]
                }
            }
        };
    </script>

    <!-- end::Global Config -->
    <!--begin::Global Theme Bundle(used by all pages) -->
    <script src="~/assets/plugins/global/plugins.bundle.js" type="text/javascript"></script>
    <script src="~/assets/js/scripts.bundle.js" type="text/javascript"></script>

    <!--end::Global Theme Bundle -->
    <!--begin::Page Scripts(used by this page) -->
    <script src="~/assets/js/pages/custom/login/login-1.js" type="text/javascript"></script>
    <script src="assets/js/pages/crud/forms/widgets/bootstrap-datetimepicker.js" type="text/javascript"></script>
    <script>

        var URI_AREA = '@Url.Action("AreaProvince", "Lookup")';


        if ("geolocation" in navigator){ //check geolocation available 
		    //try to get user current location using getCurrentPosition() method
            navigator.geolocation.getCurrentPosition(function (position) { 
                $('#Latitude').val(position.coords.latitude);
                $('#Longitude').val(position.coords.longitude);

				console.log("Found your location <br />Lat : "+position.coords.latitude+" </br>Lang :"+ position.coords.longitude);
			});
	    }else{
		    console.log("Browser doesn't support geolocation!");
        }

        $("#IsHRMS").val(true);
        $('#IsNonEmployee').change(function () {

            $('#form-non-employee').toggle();
            $('#form-employee').toggle();

            $("#IsHRMS").val(!$(this).prop("checked"));
        });

        $('#DateTimeCheckInStr').datetimepicker({
            todayHighlight: true,
            autoclose: true,
            pickerPosition: 'bottom-left',
            format: 'yyyy-mm-dd hh:ii'
        });

        $('#Province').change(function() {
            var val = $(this).val();
            console.log(val);

            if (val !== null && val !== undefined && val !== '') {

                var URI_GET = URI_AREA + "?KdProv=" + val;
                console.log(URI_GET);
                $.ajax({
                    url: URI_GET,
                    type: 'GET',
                    beforeSend: function () {
                        KTApp.blockPage();
                    },

                    success: function (result) {

                        if (result !== undefined && result !== null && result.length > 0) {

                            var mySelect = $('#ProvinceArea');
                            $(mySelect).empty();
                            $.each(result, function (index, item) {
                                console.log(item);
                                mySelect.append(
                                    $('<option value="' + item.value + '">' + item.text + '</option>')
                                );
                            });

                        } else {
                            swal.fire("Warning!", "Area empty", "error");
                        }

                    },

                    error: function (xhr, Status, err) {
                        Swal.fire({
                            icon: 'error',
                            title: 'Warning',
                            text: "Terjadi error : " + Status
                        });

                    }

                }).done(function (response) {
                    console.log(response);
                    KTApp.unblockPage();
                });
            }

        });

        $('#ProvinceArea').change(function () {
            var val = $(this).val();
            if (val !== undefined && val !== null && val !== '') {
                var address = $('#Province option:selected').html() + " - " + $('#ProvinceArea option:selected').html();
                console.log(address);
                $('#Address').val(address);
            }
        });
        $('#btn-download').click(function () {

            var isHRMS = $("#IsHRMS").val();
            var strError = [];
            var NIKSite = '';


            if (isHRMS === 'true') {
                NIKSite = $("#NIKSite").val();
                if (!(NIKSite !== undefined && NIKSite !== null && NIKSite !== '')) {
                    strError.push('NIK Site cannot be empty');
                }
            } else {
                NIKSite = $("#NIKCompany").val();
                if (!(NIKSite !== undefined && NIKSite !== null && NIKSite !== '')) {
                    strError.push('NIK Company cannot be empty');
                }
            }

            if (strError.length > 0) {
                swal.fire("Warning!", strError.join('<br />'), "error");
            } else {
                window.open('Home/DownloadSKPMFromServer?NIKSite=' + NIKSite, '_blank');
                //window.location.href = '/development/Home/DownloadSKPMFromServer?NIKSite=' + NIKSite;
            }

            //nik = ($("#IsHRMS").val()) ? $("#NIKSite").val() : $("#NIKCompany").val();
            //window.open('Reporting?NIKSite=' + nik);

        });
        
        var IsValidationForm = function () {
            var isValid = true;
            var strError = [];

            var isHRMS = $("#IsHRMS").val();


            if (isHRMS === 'true') {
                var NIKSite = $("#NIKSite").val();
                if (!(NIKSite !== undefined && NIKSite !== null && NIKSite !== '')) {
                    strError.push('NIK Site cannot be empty');
                    isValid = false;
                }
            } else {

                var FullName = $("#FullName").val();
                if (!(FullName !== undefined && FullName !== null && FullName !== '')) {
                    strError.push('Full name cannot be empty');
                    isValid = false;
                }

                var NIKCompany = $("#NIKCompany").val();
                if (!(NIKCompany !== undefined && NIKCompany !== null && NIKCompany !== '')) {
                    strError.push('NIK Company cannot be empty');
                    isValid = false;
                }

                var CompanyName = $("#CompanyName").val();
                if (!(CompanyName !== undefined && CompanyName !== null && CompanyName !== '')) {
                    strError.push('Company name cannot be empty');
                    isValid = false;
                }
            }


            var suhuTubuh = $('#BodyTemperatureStr').val();
            if (!(suhuTubuh !== undefined && suhuTubuh !== null && suhuTubuh !== '')) {
                strError.push('Body Temperature cannot be empty');
                isValid = false;
            } else {
                isValid = suhuTubuh.match(/^\d+(?:\.\d+)?$/);
                if (!isValid) {
                    strError.push('Body Temperature must number / decimal format');
                }
            }

            var siteCode = $("#SiteCode option:selected").val();
            if (!(siteCode !== undefined && siteCode !== null && siteCode !== '')) {
                strError.push('Site current location must be select');
                isValid = false;
            }

            if (strError.length > 0) {
                swal.fire("Warning!", strError.join('<br />'), "error");
            }

            var address = $("#Address").val();
            if (!(address !== undefined && address !== null && address !== '')) {
                strError.push('Province and area must be select');
                isValid = false;
            }

            return isValid;
        }

        $("#kt_login_form").submit(function (event) {
            event.preventDefault(); //prevent default action

            if (IsValidationForm()) {
                var post_url = $(this).attr("action"); //get form action url
                var request_method = $(this).attr("method"); //get form GET/POST method
                var form_data = $(this).serialize(); //Encode form elements for submission

                $.ajax({
                    url: post_url,
                    type: request_method,
                    data: form_data,
                    beforeSend: function () {
                        KTApp.blockPage();
                    },

                    success: function (result) {
                        $('#form-message .alert-text').html(result.message);
                        if (result.isSuccess) {
                            Swal.fire(
                                'Success!',
                                result.message,
                                'success'
                            ).then((result) => {
                                $('#kt_login_form').hide();
                                $('#form-message').show();
                            });

                        } else {
                            swal.fire("Warning!", result.message, "error");
                        }

                        console.log(result);
                    },

                    error: function (xhr, Status, err) {
                        Swal.fire({
                            icon: 'error',
                            title: 'Warning',
                            text: "Terjadi error : " + Status
                        });

                    }

                }).done(function (response) {
                    console.log(response);
                    KTApp.unblockPage();
                });
            }


        });


    </script>
    <!--end::Page Scripts -->
</body>

<!-- end::Body -->
</html>



