﻿@model CleanArchitecture.Web.Models.UserModel

@{
    ViewData["Title"] = "Clean DDD Architecture Sample";
}

<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">



    <!--Begin::Dashboard 1-->

    @if (User.Identity.IsAuthenticated)
    {
        <div class="row">
            You are Logged in as <span style="font-size:large;color:forestgreen;">@User.Identity.Name</span>
        </div>
        <div style="padding-top:30px;"></div>
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3">
                <div><b>Your Claim Values:</b></div>
                <div style="padding-top:10px;">
                    <div>
                        <table>
                            <tr>
                                <td style="width:30%;">User ID</td>
                                <td style="width:50%;"><label>@Model.Id</label></td>
                            </tr>
                            <tr>
                                <td>Email ID</td>
                                <td><label>@Model.Email</label></td>
                            </tr>
                            <tr>
                                <td>Access Level</td>
                                <td><label style="color:forestgreen">@Model.Role</label></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-9">
                <div><b>Links to check your permissions</b></div>
                <div style="padding-top:20px;"></div>
                <ul>
                    <li>@Html.ActionLink("Go to Director Page", "DirectorPage", "Dashboard")</li>
                    <li style="padding-top:5px;">@Html.ActionLink("Go to Supervisor Page", "SupervisorPage", "Dashboard")</li>
                    <li style="padding-top:5px;">@Html.ActionLink("Go to Analyst Page", "AnalystPage", "Dashboard")</li>
                    <li style="padding-top:5px;">@Html.ActionLink("See how user permissions controlled inside action method In-line code - Only for Supervisor & Analyst", "SupervisorAnalystPage", "Dashboard")</li>
                    <li style="padding-top:5px;">@Html.ActionLink("See how view page level permission works (Login in as Analyst JBlack@email.com who do not have WRITE permission)", "PageLevelPermission", "Dashboard")</li>
                    <li style="padding-top:5px;">@Html.ActionLink("See how Authentication & Authorization handled for Ajax Calls", "CheckAjaxCalls", "Dashboard")</li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <h2>To Do Items (MVC)</h2>
                <ul>
                    <li><a asp-area="" asp-controller="ToDo" asp-action="Populate">Load Sample To Do Items</a> (API call returning just a number)</li>
                    <li><a asp-area="" asp-controller="ToDo" asp-action="Index">List To Do Items</a></li>
                    <li><a href="/swagger">API Documentation (Swagger)</a></li>
                </ul>
                <h2>To Do Items (Razor Pages)</h2>
                <ul>
                    <li><a asp-page="/ToDoRazorPage/Populate">Load Sample To Do Items</a></li>
                    <li><a asp-page="/ToDoRazorPage/Index">List To Do Items</a></li>
                </ul>
            </div>
            <div class="col-md-6">
                <h2>About the Author</h2>
                <ul>
                    <li><a href="https://ardalis.com">Blog - Ardalis.com</a></li>
                    <li><a href="https://twitter.com/ardalis">Twitter - @@ardalis</a></li>
                    <li><a href="https://github.com/ardalis">GitHub</a></li>
                </ul>
            </div>
        </div>
    }
    else
    {
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4">
                <div>
                    @using (Html.BeginForm("LoginUser", "Home", FormMethod.Post, new { role = "form" }))
                    {
                        <div>
                            @Html.AntiForgeryToken()
                            <div>
                                <label>User ID</label><br />
                            </div>
                            <div>
                                @Html.TextBoxFor(m => m.Id, new { @class = "form-control txtbox" })
                            </div>
                            <div style="padding-top:20px;"></div>
                            <div>
                                <label>Password</label><br />
                            </div>
                            <div>
                                @Html.Password("Password", new { @class = "form-control txtbox" })
                            </div>
                        </div>
                        <div style="padding-left:35%;width:40%;">
                            <div style="padding-top:20px;">
                                <input class="btn btn-primary btn-lg rph-login-button" type="submit" value="Login" />
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8">
                <div style="padding-left:50px;">
                    <div><b>Please login with any of the below User ID, Password is <span style="color:forestgreen;font-size:large;">test</span> for all Users</b></div>
                    <div style="padding-top:10px;">
                        <ul style="list-style: none;">
                            <li>jsmith@email.com  -  Director</li>
                            <li>srob@email.com  -  Supervisor</li>
                            <li>dwill@email.com  -  Analyst</li>
                            <li>JBlack@email.com  -  Analyst with 'No Write' access</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    }
</div>