﻿@model List<CleanArchitecture.Web.Models.SelfMonitoringViewModel>

@{
    Layout = null;
    string NIKSite = (string)ViewBag.NIKSite;
    string DateStart = (string)ViewBag.DateStart;
    Dictionary<string, string> DataChart = (Dictionary<string, string>)ViewBag.DataChart;
}


<!DOCTYPE html>
<html lang="en">

<!-- begin::Head -->
<head>
    <base href="../../">
    <meta charset="utf-8" />
    <title>JResources | Self Monitoring</title>
    <meta name="description" content="No aside layout examples">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--begin::Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700|Roboto:300,400,500,600,700">

    <!--end::Fonts -->
    <!--begin::Page Vendors Styles(used by this page) -->
    <link href="~/assets/plugins/custom/fullcalendar/fullcalendar.bundle.css" rel="stylesheet" type="text/css" />

    <!--end::Page Vendors Styles -->
    <!--begin::Global Theme Styles(used by all pages) -->
    <link href="~/assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/style.bundle.css" rel="stylesheet" type="text/css" />

    <!--end::Global Theme Styles -->
    <!--begin::Layout Skins(used by all pages) -->
    <link href="~/assets/css/skins/header/base/light.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/skins/header/menu/light.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/skins/brand/light.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/skins/aside/dark.css" rel="stylesheet" type="text/css" />

    <!--end::Layout Skins -->
    <link rel="shortcut icon" href="~/assets/media/logos/favicon.ico" />
</head>

<!-- end::Head -->
<!-- begin::Body -->
<body class="kt-quick-panel--right kt-demo-panel--right kt-offcanvas-panel--right kt-header--fixed kt-header-mobile--fixed kt-subheader--enabled kt-subheader--fixed kt-subheader--solid kt-page--loading">

    <!-- begin:: Page -->
    <!-- begin:: Header Mobile -->
    <div id="kt_header_mobile" class="kt-header-mobile  kt-header-mobile--fixed ">
        <div class="kt-header-mobile__logo">
            <a asp-controller="Home" asp-action="Index">
                <img alt="Logo" src="~/assets/media/logos/logo-280.png" style="height: 35px;" />
            </a>
        </div>
        <div class="kt-header-mobile__toolbar">
            <button class="kt-header-mobile__toggler" id="kt_header_mobile_toggler"><span></span></button>
        </div>
    </div>

    <!-- end:: Header Mobile -->
    <div class="kt-grid kt-grid--hor kt-grid--root">
        <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver kt-page">
            <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-wrapper" id="kt_wrapper">

                <!-- begin:: Header -->
                <div id="kt_header" class="kt-header kt-grid__item  kt-header--fixed">

                    <!-- begin:: Header Menu -->
                    <!-- Uncomment this to display the close button of the panel
                    <button class="kt-header-menu-wrapper-close" id="kt_header_menu_mobile_close_btn"><i class="la la-close"></i></button>
                    -->
                    <div class="kt-header-menu-wrapper" id="kt_header_menu_wrapper">
                        <div class="kt-header-logo">
                            <a asp-controller="Home" asp-action="Index">
                                <img alt="Logo" src="~/assets/media/logos/logo-280.png" />
                            </a>
                        </div>
                        <div id="kt_header_menu" class="kt-header-menu kt-header-menu-mobile  kt-header-menu--layout-default ">
                            <ul class="kt-menu__nav ">
                                <li class="kt-menu__item  kt-menu__item--submenu kt-menu__item--rel kt-menu__item--active" data-ktmenu-submenu-toggle="click" aria-haspopup="true">
                                    <a asp-controller="Home" asp-action="Index" class="kt-menu__link"><span class="kt-menu__link-text">Home</span></a>
                                </li>
                                <li class="kt-menu__item  kt-menu__item--submenu kt-menu__item--rel kt-menu__item--active" data-ktmenu-submenu-toggle="click" aria-haspopup="true">
                                    <a asp-controller="SelfMonitoring" asp-action="History" class="kt-menu__link"><span class="kt-menu__link-text">History</span></a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <!-- end:: Header Menu -->

                </div>

                <!-- end:: Header -->
                <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_content">

                    <!-- begin:: Subheader -->
                    <div class="kt-subheader   kt-grid__item" id="kt_subheader">
                        <div class="kt-container  kt-container--fluid ">
                            <div class="kt-subheader__toolbar">
                                <div class="kt-subheader__wrapper">
                                    <a href="#" class="btn kt-subheader__btn-daterange" id="kt_dashboard_daterangepicker" data-toggle="kt-tooltip" title="Select dashboard daterange" data-placement="left">
                                        <span class="kt-subheader__btn-daterange-title" id="kt_dashboard_daterangepicker_title">Today</span>&nbsp;
                                        <span class="kt-subheader__btn-daterange-date" id="kt_dashboard_daterangepicker_date">Aug 16</span>

                                        <!--<i class="flaticon2-calendar-1"></i>-->
                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon kt-svg-icon--sm">
                                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                <rect x="0" y="0" width="24" height="24" />
                                                <path d="M4.875,20.75 C4.63541667,20.75 4.39583333,20.6541667 4.20416667,20.4625 L2.2875,18.5458333 C1.90416667,18.1625 1.90416667,17.5875 2.2875,17.2041667 C2.67083333,16.8208333 3.29375,16.8208333 3.62916667,17.2041667 L4.875,18.45 L8.0375,15.2875 C8.42083333,14.9041667 8.99583333,14.9041667 9.37916667,15.2875 C9.7625,15.6708333 9.7625,16.2458333 9.37916667,16.6291667 L5.54583333,20.4625 C5.35416667,20.6541667 5.11458333,20.75 4.875,20.75 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" />
                                                <path d="M2,11.8650466 L2,6 C2,4.34314575 3.34314575,3 5,3 L19,3 C20.6568542,3 22,4.34314575 22,6 L22,15 C22,15.0032706 21.9999948,15.0065399 21.9999843,15.009808 L22.0249378,15 L22.0249378,19.5857864 C22.0249378,20.1380712 21.5772226,20.5857864 21.0249378,20.5857864 C20.7597213,20.5857864 20.5053674,20.4804296 20.317831,20.2928932 L18.0249378,18 L12.9835977,18 C12.7263047,14.0909841 9.47412135,11 5.5,11 C4.23590829,11 3.04485894,11.3127315 2,11.8650466 Z M6,7 C5.44771525,7 5,7.44771525 5,8 C5,8.55228475 5.44771525,9 6,9 L15,9 C15.5522847,9 16,8.55228475 16,8 C16,7.44771525 15.5522847,7 15,7 L6,7 Z" fill="#000000" />
                                            </g>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- end:: Subheader -->
                    <!-- begin:: Content -->
                    <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">

                        <div class="row">
                            <div class="col-md-12">

                                <!--begin::Portlet-->
                                <div class="kt-portlet">
                                    <div class="kt-portlet__head">
                                        <div class="kt-portlet__head-label">
                                            <h3 class="kt-portlet__head-title">
                                                Form Data
                                            </h3>
                                        </div>
                                    </div>

                                    <!--begin::Form-->
                                    <form class="kt-form" method="get">
                                        <div class="kt-portlet__body">
                                            @if (!(Model != null && Model.Count > 0))
                                            {
                                                <div class="form-group form-group-last">
                                                    <div class="alert alert-secondary" role="alert">
                                                        <div class="alert-icon"><i class="flaticon-information kt-font-brand"></i></div>
                                                        <div class="alert-text">
                                                            Secara default mengambil 14 hari kebelakang
                                                        </div>
                                                    </div>
                                                </div>
                                            }

                                            <div class="form-group">
                                                <label>Nomor Induk Karyawan</label>
                                                <input type="text" name="nikSite" class="form-control" placeholder="Nomor Induk karyawan" value="@NIKSite">
                                            </div>



                                            <div class="form-group ">
                                                <label for="date-input">Tanggal Mulai</label>
                                                <div class="input-group date">
                                                    <div class="input-group-prepend"><span class="input-group-text"><i class="la la-calendar-check-o glyphicon-th"></i></span></div>
                                                    @Html.TextBox("dateStart",
                                                   (!String.IsNullOrEmpty(DateStart) ? DateStart : DateTime.Now.ToString("yyyy-MM-dd")),
                                                   new { @class = "form-control", @placeholder = "Pilih Tanggal & Waktu", @style = "margin-top: 0;", @readonly = "" })
                                                </div>
                                            </div>

                                        </div>
                                        <div class="kt-portlet__foot">
                                            <div class="kt-form__actions">
                                                <button type="submit" class="btn btn-primary">Submit</button>
                                                <button type="reset" class="btn btn-secondary">Cancel</button>
                                            </div>
                                        </div>
                                    </form>

                                    <!--end::Form-->
                                </div>

                                <!--end::Portlet-->

                            </div>


                        </div>
                        <!--Begin::Dashboard 4-->
                        <!--Begin::Row-->

                        @if(Model != null && Model.Count > 0)
                        {
                            <div class="row">
                                <div class="col-xl-12">

                                    <!--begin:: Widgets/Order Statistics-->
                                    <div class="kt-portlet">
                                        <div class="kt-portlet__head">
                                            <div class="kt-portlet__head-label">
                                                <h3 class="kt-portlet__head-title">
                                                    Self Monitoring Statistics
                                                </h3>
                                            </div>
                                        </div>
                                        <div class="kt-portlet__body">
                                            <div id="placeholderSuhuTubuh" style="height: 300px;"></div>
                                        </div>
                                    </div>



                                    <div class="kt-portlet">
                                        <div class="kt-portlet__head">
                                            <div class="kt-portlet__head-label">
                                                <h3 class="kt-portlet__head-title">
                                                    Self Monitoring Statistics
                                                </h3>
                                            </div>
                                        </div>
                                        <div class="kt-portlet__body">
                                            <div class="kt-widget12">
                                                <div id="placeholderGejala" style="height: 300px;"></div>
                                            </div>
                                        </div>
                                    </div>

                                    <!--end:: Widgets/Order Statistics-->
                                </div>
                            </div>
                        }

                        <!--End::Row-->
                        <!--Begin::Row-->
                        <div class="row">

                            <div class="col-12">
                                @foreach (var item in Model)
                                {
                                    <div class="kt-portlet @(item.IsCheckIn ? "":"kt-hidden")">
                                        <div class="kt-portlet__body">
                                            <div class="kt-widget kt-widget--user-profile-3">
                                                <div class="kt-widget__top">
                                                    @if (!string.IsNullOrEmpty(item.Photo))
                                                    {
                                                        <div class="kt-widget__media kt-hidden-">
                                                            <img src="~/files/@item.Photo" alt="image">
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                        <div class="kt-widget__pic kt-widget__pic--danger kt-font-danger kt-font-boldest kt-font-light kt-hidden-">
                                                            @NIKSite
                                                        </div>
                                                    }

                                                    <div class="kt-widget__head" style="padding: 10px;">

                                                        <div class="kt-widget__info">
                                                            <h5 style="padding: 2px;">
                                                                @item.DateTimeCheckIn.ToString("yyyy-MM-dd")
                                                            </h5>
                                                            @if (!string.IsNullOrEmpty(item.SiteName))
                                                            {
                                                                <div class="kt-widget__desc">
                                                                    <span>Lokasi <i class="flaticon2-placeholder"></i>@item.SiteName</span>
                                                                </div>
                                                            }
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="kt-widget__bottom">

                                                    <div class="kt-widget__info">
                                                        <div class="kt-widget__desc">
                                                            <table class="table table-borderless">
                                                                <tbody>
                                                                    <tr>
                                                                        <td>On/Off Duty</td>
                                                                        <td>:</td>
                                                                        <td>@(item.IsOnDuty ? "ON" : "OFF")</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>Suhu Tubuh Pagi</td>
                                                                        <td>:</td>
                                                                        <td>@item.BodyTemperatureMorning</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>Suhu Tubuh Malam</td>
                                                                        <td>:</td>
                                                                        <td>@item.BodyTemperatureNight</td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                    <hr />


                                                    <div class="kt-checkbox-list">

                                                        <div class="kt-login__divider" style="margin: 10px 0;">
                                                            <div class="kt-divider">
                                                                <span></span>
                                                                <span>Gejala Corona</span>
                                                                <span></span>
                                                            </div>
                                                        </div>


                                                        <label class="kt-checkbox kt-checkbox--warning @(item.IsSoreThroat ? "":"kt-hidden")">
                                                            <input type="checkbox" checked />
                                                            Saya mengalami Sakit Tenggorokan
                                                            <span></span>
                                                        </label>

                                                        <label class="kt-checkbox kt-checkbox--warning @(item.IsFlu ? "":"kt-hidden")">
                                                            <input type="checkbox" checked />
                                                            Saya mengalami Sakit Flu
                                                            <span></span>
                                                        </label>

                                                        <label class="kt-checkbox kt-checkbox--warning @(item.IsFever ? "":"kt-hidden")">
                                                            <input type="checkbox" checked />
                                                            Saya mengalami Sakit Demam
                                                            <span></span>
                                                        </label>

                                                        <label class="kt-checkbox kt-checkbox--warning @(item.IsCough ? "":"kt-hidden")">
                                                            <input type="checkbox" checked />
                                                            Saya mengalami Sakit Batuk
                                                            <span></span>
                                                        </label>

                                                        <label class="kt-checkbox kt-checkbox--warning @(item.IsShortness ? "":"kt-hidden")">
                                                            <input type="checkbox" checked />
                                                            Saya mengalami Sakit Rasa Sesak
                                                            <span></span>
                                                        </label>

                                                        <br />

                                                        <div class="kt-login__divider" style="margin: 10px 0;">
                                                            <div class="kt-divider">
                                                                <span></span>
                                                                <span>Riwayat Karyawan</span>
                                                                <span></span>
                                                            </div>
                                                        </div>


                                                        <label class="kt-checkbox kt-checkbox--warning @(item.IsContactPatient ? "":"kt-hidden")">
                                                            <input type="checkbox" checked />
                                                            Saya ada riwayat kontak dengan orang yang dinyatakan PDP (pasien dalam pengawasan) atau orang dengan positif COVID-19 dalam 14 hari terakhir
                                                            <span></span>
                                                        </label>

                                                        <label class="kt-checkbox kt-checkbox--warning @(item.IsQuarantine ? "":"kt-hidden")">
                                                            <input type="checkbox" checked />
                                                            Saya lakukan karantina mandiri 14 hari sebelum berangkat ke site (untuk pekerja yang akan bertugas ke site)
                                                            <span></span>
                                                        </label>

                                                        <br />

                                                    </div>


                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="kt-portlet kt-portlet--skin-solid kt-bg-danger @(item.IsCheckIn ? "kt-hidden":"")">
                                        <div class="kt-portlet__body">
                                            <div class="kt-widget kt-widget--user-profile-3">
                                                <div class="kt-widget__top">
                                                    <div class="kt-widget__head" style="padding: 10px;">

                                                        <div class="kt-widget__info">
                                                            <h5 style="padding: 2px;">
                                                                @item.DateTimeCheckIn.ToString("yyyy-MM-dd")
                                                            </h5>
                                                            <div class="kt-widget__desc">
                                                                <span>Tidak melakukan check in</span>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                }

                            </div>

                        </div>

                        <!--End::Row-->
                        <!--End::Dashboard 4-->
                    </div>

                    <!-- end:: Content -->
                </div>

                <!-- begin:: Footer -->
                <div class="kt-footer  kt-grid__item kt-grid kt-grid--desktop kt-grid--ver-desktop" id="kt_footer">
                    <div class="kt-container  kt-container--fluid ">
                        <div class="kt-footer__copyright">
                            2020&nbsp;&copy;&nbsp;<a href="http://www.jresources.com/" target="_blank" class="kt-link">PT JResources</a>
                        </div>
                    </div>
                </div>

                <!-- end:: Footer -->
            </div>
        </div>
    </div>

    <!-- end:: Page -->
    <!-- begin::Scrolltop -->
    <div id="kt_scrolltop" class="kt-scrolltop">
        <i class="fa fa-arrow-up"></i>
    </div>
    <!-- end::Scrolltop -->
    <!-- begin::Global Config(global config for global JS sciprts) -->
    <script>
        var KTAppOptions = {
            "colors": {
                "state": {
                    "brand": "#5d78ff",
                    "dark": "#282a3c",
                    "light": "#ffffff",
                    "primary": "#5867dd",
                    "success": "#34bfa3",
                    "info": "#36a3f7",
                    "warning": "#ffb822",
                    "danger": "#fd3995"
                },
                "base": {
                    "label": [
                        "#c5cbe3",
                        "#a1a8c3",
                        "#3d4465",
                        "#3e4466"
                    ],
                    "shape": [
                        "#f0f3ff",
                        "#d9dffa",
                        "#afb4d4",
                        "#646c9a"
                    ]
                }
            }
        };</script>

    <!-- end::Global Config -->
    <!--begin::Global Theme Bundle(used by all pages) -->
    <script src="~/assets/plugins/global/plugins.bundle.js" type="text/javascript"></script>
    <script src="~/assets/js/scripts.bundle.js" type="text/javascript"></script>

    <!--end::Global Theme Bundle -->
    <script src="~/assets/plugins/custom/fullcalendar/fullcalendar.bundle.js" type="text/javascript"></script>
    <script src="~/assets/js/pages/crud/forms/widgets/bootstrap-datepicker.js" type="text/javascript"></script>
    <script src="~/assets/plugins/custom/flot/flot.bundle.js" type="text/javascript"></script>
    <script src="~/assets/plugins/canvasjs/jquery.canvasjs.min.js" type="text/javascript"></script>




    <script>
        $('#dateStart').datepicker({
            todayHighlight: true,
            autoclose: true,
            pickerPosition: 'bottom-left',
            format: 'yyyy-mm-dd'
        });

        var dataSuhuTubuh = @Html.Raw(DataChart["SUHU_TUBUH"]);
        var dataNULL = @Html.Raw(DataChart["NO_DATA"]);
        var dataSORETHROAT = @Html.Raw(DataChart["SORETHROAT"]);
        var dataFLU = @Html.Raw(DataChart["FLU"]);
        var dataFEVER = @Html.Raw(DataChart["FEVER"]);
        var dataCOUGH = @Html.Raw(DataChart["COUGH"]);
        var dataSHORTNESS = @Html.Raw(DataChart["SHORTNESS"]);
        var dataCONTACT_PATIENT = @Html.Raw(DataChart["CONTACT_PATIENT"]);
        var dataQUARANTINE = @Html.Raw(DataChart["QUARANTINE"]);

        window.onload = function () {


            var chart = new CanvasJS.Chart("placeholderSuhuTubuh", {
                animationEnabled: true,
                theme: "light2",
                axisX: {
                    valueFormatString: "DD MMM",
                    crosshair: {
                        enabled: true,
                        snapToDataPoint: true
                    }
                },
                axisY: {
                    title: "14 Days Temperature",
                    suffix: " °C",
                    minimum: 30,
                    maximum: 40,
                },
                toolTip: {
                    shared: true
                },
                legend: {
                    cursor: "pointer",
                    verticalAlign: "bottom",
                    horizontalAlign: "left",
                    dockInsidePlotArea: true,
                    itemclick: toogleDataSeries
                },
                data: [{
                    type: "line",
                    showInLegend: true,
                    markerType: "square",
                    xValueFormatString: "DD MMM, YYYY",
                    color: "#F08080",
                    indexLabel: "{y}°",
                    dataPoints: dataSuhuTubuh
                }]
            });
            chart.render();

            function toogleDataSeries(e) {
                if (typeof (e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
                    e.dataSeries.visible = false;
                } else {
                    e.dataSeries.visible = true;
                }
                chart.render();
            }


            var chart = new CanvasJS.Chart("placeholderGejala",
            {
              title:{
              text: "Gejala Corona"
              },
              axisX: {
                valueFormatString: "DD MMM",
                crosshair: {
                    enabled: true,
                    snapToDataPoint: true
                }      
              },
                data: [
                    {        
                        type: "stackedColumn",
                        legendText: "Tidak Ada Data",
                        showInLegend: "true",
                        color: '#eeeeee',
                        dataPoints: dataNULL
                    },{        
                        type: "stackedColumn",
                        legendText: "Sakit Tenggorokan",
                        showInLegend: "true",
                        color: '#d11141',
                        dataPoints: dataSORETHROAT
                    },
                    {        
                        type: "stackedColumn",
                        legendText: "Sakit Flu",
                        showInLegend: "true",
                        color: '#00aedb',
                        dataPoints: dataFLU
                    }



                    ,
                    {        
                        type: "stackedColumn",
                        legendText: "Sakit Demam",
                        showInLegend: "true",
                        color: '#00b159',
                        dataPoints: dataFEVER
                    },
                    {        
                        type: "stackedColumn",
                        legendText: "Batuk",
                        showInLegend: "true",
                        color: '#f37735',
                        dataPoints: dataCOUGH
                    },
                    {        
                        type: "stackedColumn",
                        legendText: "Sakit Rasa Sesak",
                        showInLegend: "true",
                        color: '#ffc425',
                        dataPoints: dataSHORTNESS
                    },
                    {        
                        type: "stackedColumn",
                        legendText: "Riwayat kontak dengan PDP",
                        showInLegend: "true",
                        color: '#a200ff',
                        dataPoints: dataCONTACT_PATIENT
                    },
                    {        
                        type: "stackedColumn",
                        legendText: "karantina mandiri 14 hari",
                        showInLegend: "true",
                        color: '#8ec127',
                        dataPoints: dataQUARANTINE
                    }

        
              ]
            });

            chart.render();

        }



    </script>



    <!--end::Page Scripts -->
</body>

<!-- end::Body -->
</html>


