﻿@{
    ViewData["Title"] = "Clean DDD Architecture Sample";
}


<div class="kt-subheader  kt-grid__item" id="kt_subheader">
    <div class="kt-container  kt-container--fluid ">
        <div class="kt-subheader__main">
            <h3 class="kt-subheader__title">Report Employee List</h3>
            <span class="kt-subheader__separator kt-subheader__separator--v"></span>
            <span class="kt-subheader__desc"><input class="form-control" type="month" value="2020-01" id="example-month-input"></span>
            <span class="kt-subheader__desc">
                <select class="form-control" id="exampleSelect1">
                    <option>Site</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </span>
            <span class="kt-subheader__desc">
                <select class="form-control" id="exampleSelect1">
                    <option>Department</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </span>

            <span class="kt-subheader__desc">
                <button type="reset" class="btn btn-primary">Filter</button>
            </span>


            <div class="kt-input-icon kt-input-icon--right kt-subheader__search kt-hidden">
                <input type="text" class="form-control" placeholder="Search order..." id="generalSearch">
                <span class="kt-input-icon__icon kt-input-icon__icon--right">
                    <span><i class="flaticon2-search-1"></i></span>
                </span>
            </div>
        </div>
    </div>
</div>

<!-- end:: Content Head -->
<!-- begin:: Content -->
<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
    <div class="kt-portlet kt-portlet--mobile">
        <div class="kt-portlet__head kt-portlet__head--lg">
            <div class="kt-portlet__head-label">
                <span class="kt-portlet__head-icon">
                    <i class="kt-font-brand flaticon-user"></i>
                </span>
                <h3 class="kt-portlet__head-title">
                    Employee Report List
                </h3>
            </div>
        </div>
        <div class="kt-portlet__body kt-portlet__body--fit">

            <div class="kt-datatable kt-datatable--default kt-datatable--brand kt-datatable--loaded" id="kt_apps_user_list_datatable" style="">
                <table class="kt-datatable__table" style="display: block;">
                    <thead class="kt-datatable__head"><tr class="kt-datatable__row" style="left: 0px;"><th class="kt-datatable__cell kt-datatable__toggle-detail"><span></span></th><th data-field="Name" class="kt-datatable__cell kt-datatable__cell--sort"><span style="width: 200px;">Nama</span></th><th data-field="Address" class="kt-datatable__cell kt-datatable__cell--sort"><span style="width: 150px;">Site / Lokasi</span></th><th data-field="Country" class="kt-datatable__cell kt-datatable__cell--sort" style="display: none;"><span style="width: 110px;">Country</span></th><th data-field="DateCreated" class="kt-datatable__cell kt-datatable__cell--sort" style="display: none;"><span style="width: 110px;">Date Created</span></th><th data-field="DateModified" class="kt-datatable__cell kt-datatable__cell--sort" style="display: none;"><span style="width: 110px;">Date Modified</span></th><th data-field="Type" data-autohide-disabled="false" class="kt-datatable__cell kt-datatable__cell--sort"><span style="width: 110px;">Kehadiran</span></th><th data-field="Type" data-autohide-disabled="false" class="kt-datatable__cell kt-datatable__cell--sort"><span style="width: 110px;">Izin/Cuti</span></th><th data-field="Status" data-autohide-disabled="false" class="kt-datatable__cell kt-datatable__cell--sort"><span style="width: 110px;">Telat</span></th><th data-field="Actions" data-autohide-disabled="false" class="kt-datatable__cell kt-datatable__cell--sort"><span style="width: 80px;">Actions</span></th></tr></thead>
                    <tbody class="kt-datatable__body" style="">
                        <tr data-row="0" class="kt-datatable__row" style="left: 0px;">
                            <td class="kt-datatable__cell kt-datatable__toggle-detail"><a class="kt-datatable__toggle-detail" href=""><i class="fa fa-caret-right"></i></a></td>
                            <td data-field="Name" class="kt-datatable__cell"><span style="width: 200px;"><div class="kt-user-card-v2"><div class="kt-user-card-v2__pic"><div class="kt-badge kt-badge--xl kt-badge--warning">F</div></div><div class="kt-user-card-v2__details"><a class="kt-user-card-v2__name" href="#">Felicia Gisbye</a><span class="kt-user-card-v2__desc">Sales</span></div></div></span></td>
                            <td data-field="Address" class="kt-datatable__cell"><span style="width: 150px;">Head Office, Jakarta</span></td>
                            <td data-field="Country" class="kt-datatable__cell" style="display: none;"><span style="width: 110px;">Philippines</span></td>
                            <td data-field="DateCreated" class="kt-datatable__cell" style="display: none;"><span style="width: 110px;">11/20/2018</span></td>
                            <td data-field="DateModified" class="kt-datatable__cell" style="display: none;"><span style="width: 110px;">12/22/2018</span></td>
                            <td data-field="Type" data-autohide-disabled="false" class="kt-datatable__cell"><span style="width: 110px;"><span class="btn btn-bold btn-sm btn-font-sm  btn-label-warning">75 %</span></span></td>
                            <td data-field="Type" data-autohide-disabled="false" class="kt-datatable__cell"><span style="width: 110px;"><span class="btn btn-bold btn-sm btn-font-sm">10</span></span></td>
                            <td data-field="Status" data-autohide-disabled="false" class="kt-datatable__cell"><span style="width: 110px;"><span class="kt-font-bold kt-font-danger">15</span></span></td>
                            <td data-field="Actions" data-autohide-disabled="false" class="kt-datatable__cell"><span style="overflow: visible; position: relative; width: 80px;"><a class="kt-nav__link" asp-area="" asp-controller="Report" asp-action="User"><i class="kt-nav__link-icon flaticon2-expand"></i><span class="kt-nav__link-text"> View</span></a></span></td></span></td>
                        </tr>
                        <tr data-row="1" class="kt-datatable__row kt-datatable__row--even" style="left: 0px;">
                            <td class="kt-datatable__cell kt-datatable__toggle-detail"><a class="kt-datatable__toggle-detail" href=""><i class="fa fa-caret-right"></i></a></td>
                            <td data-field="Name" class="kt-datatable__cell"><span style="width: 200px;"><div class="kt-user-card-v2"><div class="kt-user-card-v2__pic"><div class="kt-badge kt-badge--xl kt-badge--danger">B</div></div><div class="kt-user-card-v2__details"><a class="kt-user-card-v2__name" href="#">Bar Richemond</a><span class="kt-user-card-v2__desc">Architect</span></div></div></span></td>
                            <td data-field="Address" class="kt-datatable__cell"><span style="width: 150px;">Head Office, Jakarta</span></td>
                            <td data-field="Type" data-autohide-disabled="false" class="kt-datatable__cell"><span style="width: 110px;"><span class="btn btn-bold btn-sm btn-font-sm  btn-label-success">90 %</span></span></td>
                            <td data-field="Country" class="kt-datatable__cell" style="display: none;"><span style="width: 110px;">Indonesia</span></td>
                            <td data-field="DateCreated" class="kt-datatable__cell" style="display: none;"><span style="width: 110px;">5/26/2018</span></td>
                            <td data-field="DateModified" class="kt-datatable__cell" style="display: none;"><span style="width: 110px;">10/14/2018</span></td>
                            <td data-field="Type" data-autohide-disabled="false" class="kt-datatable__cell"><span style="width: 110px;"><span class="btn btn-bold btn-sm btn-font-sm  btn-label-default">2</span></span></td>
                            <td data-field="Status" data-autohide-disabled="false" class="kt-datatable__cell"><span style="width: 110px;"><span class="kt-font-bold kt-font-success">0</span></span></td>
                            <td data-field="Actions" data-autohide-disabled="false" class="kt-datatable__cell"><span style="overflow: visible; position: relative; width: 80px;"><a class="kt-nav__link" asp-area="" asp-controller="Report" asp-action="User"><i class="kt-nav__link-icon flaticon2-expand"></i><span class="kt-nav__link-text"> View</span></a></span></td></span></td>
                        </tr>
                        <tr data-row="2" class="kt-datatable__row" style="left: 0px;">
                            <td class="kt-datatable__cell kt-datatable__toggle-detail"><a class="kt-datatable__toggle-detail" href=""><i class="fa fa-caret-right"></i></a></td>
                            <td data-field="Name" class="kt-datatable__cell"><span style="width: 200px;"><div class="kt-user-card-v2"><div class="kt-user-card-v2__pic"><img alt="photo" src="assets/media/users/100_6.jpg"></div><div class="kt-user-card-v2__details"><a class="kt-user-card-v2__name" href="#">Veda Westbury</a><span class="kt-user-card-v2__desc">Manager Sales</span></div></div></span></td>
                            <td data-field="Address" class="kt-datatable__cell"><span style="width: 150px;">Head Office, Jakarta</span></td>
                            <td data-field="Country" class="kt-datatable__cell" style="display: none;"><span style="width: 110px;">Brazil</span></td>
                            <td data-field="DateCreated" class="kt-datatable__cell" style="display: none;"><span style="width: 110px;">8/18/2018</span></td>
                            <td data-field="DateModified" class="kt-datatable__cell" style="display: none;"><span style="width: 110px;">6/30/2018</span></td>
                            <td data-field="Type" data-autohide-disabled="false" class="kt-datatable__cell"><span style="width: 110px;"><span class="btn btn-bold btn-sm btn-font-sm  btn-label-success">90 %</span></span></td>
                            <td data-field="Type" data-autohide-disabled="false" class="kt-datatable__cell"><span style="width: 110px;"><span class="btn btn-bold btn-sm btn-font-sm  btn-label-default">2</span></span></td>
                            <td data-field="Status" data-autohide-disabled="false" class="kt-datatable__cell"><span style="width: 110px;"><span class="kt-font-bold kt-font-success">0</span></span></td>
                            <td data-field="Actions" data-autohide-disabled="false" class="kt-datatable__cell"><span style="overflow: visible; position: relative; width: 80px;"><a class="kt-nav__link" asp-area="" asp-controller="Report" asp-action="User"><i class="kt-nav__link-icon flaticon2-expand"></i><span class="kt-nav__link-text"> View</span></a></span></td></span></td>
                        </tr>
                        <tr data-row="3" class="kt-datatable__row kt-datatable__row--even" style="left: 0px;">
                            <td class="kt-datatable__cell kt-datatable__toggle-detail"><a class="kt-datatable__toggle-detail" href=""><i class="fa fa-caret-right"></i></a></td>
                            <td data-field="Name" class="kt-datatable__cell"><span style="width: 200px;"><div class="kt-user-card-v2"><div class="kt-user-card-v2__pic"><img alt="photo" src="assets/media/users/100_7.jpg"></div><div class="kt-user-card-v2__details"><a class="kt-user-card-v2__name" href="#">Fionna Hutchcraft</a><span class="kt-user-card-v2__desc">Developer</span></div></div></span></td>
                            <td data-field="Address" class="kt-datatable__cell"><span style="width: 150px;">Bandung Office</span></td>
                            <td data-field="Country" class="kt-datatable__cell" style="display: none;"><span style="width: 110px;">Poland</span></td>
                            <td data-field="DateCreated" class="kt-datatable__cell" style="display: none;"><span style="width: 110px;">3/16/2019</span></td>
                            <td data-field="DateModified" class="kt-datatable__cell" style="display: none;"><span style="width: 110px;">4/4/2019</span></td>
                            <td data-field="Type" data-autohide-disabled="false" class="kt-datatable__cell"><span style="width: 110px;"><span class="btn btn-bold btn-sm btn-font-sm  btn-label-warning">80 %</span></span></td>
                            <td data-field="Type" data-autohide-disabled="false" class="kt-datatable__cell"><span style="width: 110px;"><span class="btn btn-bold btn-sm btn-font-sm  btn-label-default">2</span></span></td>
                            <td data-field="Status" data-autohide-disabled="false" class="kt-datatable__cell"><span style="width: 110px;"><span class="kt-font-bold kt-font-success">1</span></span></td>
                            <td data-field="Actions" data-autohide-disabled="false" class="kt-datatable__cell"><span style="overflow: visible; position: relative; width: 80px;"><a class="kt-nav__link" asp-area="" asp-controller="Report" asp-action="User"><i class="kt-nav__link-icon flaticon2-expand"></i><span class="kt-nav__link-text"> View</span></a></span></td></span></td>
                        </tr>
                        <tr data-row="4" class="kt-datatable__row" style="left: 0px;">
                            <td class="kt-datatable__cell kt-datatable__toggle-detail"><a class="kt-datatable__toggle-detail" href=""><i class="fa fa-caret-right"></i></a></td>
                            <td data-field="Name" class="kt-datatable__cell"><span style="width: 200px;"><div class="kt-user-card-v2"><div class="kt-user-card-v2__pic"><img alt="photo" src="assets/media/users/100_8.jpg"></div><div class="kt-user-card-v2__details"><a class="kt-user-card-v2__name" href="#">Enos Pillans</a><span class="kt-user-card-v2__desc">Architect</span></div></div></span></td>
                            <td data-field="Address" class="kt-datatable__cell"><span style="width: 150px;">Head Office, Jakarta</span></td>
                            <td data-field="Country" class="kt-datatable__cell" style="display: none;"><span style="width: 110px;">China</span></td>
                            <td data-field="DateCreated" class="kt-datatable__cell" style="display: none;"><span style="width: 110px;">9/10/2018</span></td>
                            <td data-field="DateModified" class="kt-datatable__cell" style="display: none;"><span style="width: 110px;">5/6/2018</span></td>
                            <td data-field="Type" data-autohide-disabled="false" class="kt-datatable__cell"><span style="width: 110px;"><span class="btn btn-bold btn-sm btn-font-sm  btn-label-success">95 %</span></span></td>
                            <td data-field="Type" data-autohide-disabled="false" class="kt-datatable__cell"><span style="width: 110px;"><span class="btn btn-bold btn-sm btn-font-sm  btn-label-default">1</span></span></td>
                            <td data-field="Status" data-autohide-disabled="false" class="kt-datatable__cell"><span style="width: 110px;"><span class="kt-font-bold kt-font-success">0</span></span></td>
                            <td data-field="Actions" data-autohide-disabled="false" class="kt-datatable__cell"><span style="overflow: visible; position: relative; width: 80px;"><a class="kt-nav__link" asp-area="" asp-controller="Report" asp-action="User"><i class="kt-nav__link-icon flaticon2-expand"></i><span class="kt-nav__link-text"> View</span></a></span></td></span></td>
                        </tr>
                        <tr data-row="5" class="kt-datatable__row kt-datatable__row--even" style="left: 0px;">
                            <td class="kt-datatable__cell kt-datatable__toggle-detail"><a class="kt-datatable__toggle-detail" href=""><i class="fa fa-caret-right"></i></a></td>
                            <td data-field="Name" class="kt-datatable__cell"><span style="width: 200px;"><div class="kt-user-card-v2"><div class="kt-user-card-v2__pic"><img alt="photo" src="assets/media/users/100_9.jpg"></div><div class="kt-user-card-v2__details"><a class="kt-user-card-v2__name" href="#">Anneliese Duly</a><span class="kt-user-card-v2__desc">Manager</span></div></div></span></td>
                            <td data-field="Address" class="kt-datatable__cell"><span style="width: 150px;">Bandung Office</span></td>
                            <td data-field="Country" class="kt-datatable__cell" style="display: none;"><span style="width: 110px;">China</span></td>
                            <td data-field="DateCreated" class="kt-datatable__cell" style="display: none;"><span style="width: 110px;">12/15/2018</span></td>
                            <td data-field="DateModified" class="kt-datatable__cell" style="display: none;"><span style="width: 110px;">3/5/2019</span></td>
                            <td data-field="Type" data-autohide-disabled="false" class="kt-datatable__cell"><span style="width: 110px;"><span class="btn btn-bold btn-sm btn-font-sm  btn-label-danger">65 %</span></span></td>
                            <td data-field="Type" data-autohide-disabled="false" class="kt-datatable__cell"><span style="width: 110px;"><span class="btn btn-bold btn-sm btn-font-sm ">7</span></span></td>
                            <td data-field="Status" data-autohide-disabled="false" class="kt-datatable__cell"><span style="width: 110px;">&nbsp;<span class="kt-font-bold kt-font-danger">10</span></span></td>
                            <td data-field="Actions" data-autohide-disabled="false" class="kt-datatable__cell"><span style="overflow: visible; position: relative; width: 80px;"><a class="kt-nav__link" asp-area="" asp-controller="Report" asp-action="User"><i class="kt-nav__link-icon flaticon2-expand"></i><span class="kt-nav__link-text"> View</span></a></span></td></span></td>
                        </tr>
                        <tr data-row="6" class="kt-datatable__row" style="left: 0px;">
                            <td class="kt-datatable__cell kt-datatable__toggle-detail"><a class="kt-datatable__toggle-detail" href=""><i class="fa fa-caret-right"></i></a></td>
                            <td data-field="Name" class="kt-datatable__cell"><span style="width: 200px;"><div class="kt-user-card-v2"><div class="kt-user-card-v2__pic"><img alt="photo" src="assets/media/users/100_10.jpg"></div><div class="kt-user-card-v2__details"><a class="kt-user-card-v2__name" href="#">Alyce Wild</a><span class="kt-user-card-v2__desc">Sales</span></div></div></span></td>
                            <td data-field="Address" class="kt-datatable__cell"><span style="width: 150px;">Head Office, Jakarta</span></td>
                            <td data-field="Country" class="kt-datatable__cell" style="display: none;"><span style="width: 110px;">Vietnam</span></td>
                            <td data-field="DateCreated" class="kt-datatable__cell" style="display: none;"><span style="width: 110px;">12/17/2018</span></td>
                            <td data-field="DateModified" class="kt-datatable__cell" style="display: none;"><span style="width: 110px;">12/12/2018</span></td>
                            <td data-field="Type" data-autohide-disabled="false" class="kt-datatable__cell"><span style="width: 110px;"><span class="btn btn-bold btn-sm btn-font-sm  btn-label-warning">75 %</span></span></td>

                            <td data-field="Type" data-autohide-disabled="false" class="kt-datatable__cell"><span style="width: 110px;"><span class="btn btn-bold btn-sm btn-font-sm  btn-label-default">2</span></span></td>
                            <td data-field="Status" data-autohide-disabled="false" class="kt-datatable__cell"><span style="width: 110px;"><span class="kt-font-bold kt-font-danger">6</span></span></td>
                            <td data-field="Actions" data-autohide-disabled="false" class="kt-datatable__cell"><span style="overflow: visible; position: relative; width: 80px;"><a class="kt-nav__link" asp-area="" asp-controller="Report" asp-action="User"><i class="kt-nav__link-icon flaticon2-expand"></i><span class="kt-nav__link-text"> View</span></a></span></td></span></td>
                        </tr>
                        <tr data-row="7" class="kt-datatable__row kt-datatable__row--even" style="left: 0px;">
                            <td class="kt-datatable__cell kt-datatable__toggle-detail"><a class="kt-datatable__toggle-detail" href=""><i class="fa fa-caret-right"></i></a></td>
                            <td data-field="Name" class="kt-datatable__cell"><span style="width: 200px;"><div class="kt-user-card-v2"><div class="kt-user-card-v2__pic"><img alt="photo" src="assets/media/users/100_11.jpg"></div><div class="kt-user-card-v2__details"><a class="kt-user-card-v2__name" href="#">Luce Brownell</a><span class="kt-user-card-v2__desc">Designer</span></div></div></span></td>
                            <td data-field="Address" class="kt-datatable__cell"><span style="width: 150px;">Cirebon Office</span></td>
                            <td data-field="Country" class="kt-datatable__cell" style="display: none;"><span style="width: 110px;">Indonesia</span></td>
                            <td data-field="DateCreated" class="kt-datatable__cell" style="display: none;"><span style="width: 110px;">3/8/2019</span></td>
                            <td data-field="DateModified" class="kt-datatable__cell" style="display: none;"><span style="width: 110px;">4/20/2018</span></td>
                            <td data-field="Type" data-autohide-disabled="false" class="kt-datatable__cell"><span style="width: 110px;"><span class="btn btn-bold btn-sm btn-font-sm  btn-label-success">95 %</span></span></td>

                            <td data-field="Type" data-autohide-disabled="false" class="kt-datatable__cell"><span style="width: 110px;"><span class="btn btn-bold btn-sm btn-font-sm  btn-label-default">2</span></span></td>
                            <td data-field="Status" data-autohide-disabled="false" class="kt-datatable__cell"><span style="width: 110px;">&nbsp;<span class="kt-font-bold kt-font-primary">1</span></span></td>
                            <td data-field="Actions" data-autohide-disabled="false" class="kt-datatable__cell"><span style="overflow: visible; position: relative; width: 80px;"><a class="kt-nav__link" asp-area="" asp-controller="Report" asp-action="User"><i class="kt-nav__link-icon flaticon2-expand"></i><span class="kt-nav__link-text"> View</span></a></span></td></span></td>
                        </tr>
                        <tr data-row="8" class="kt-datatable__row" style="left: 0px;">
                            <td class="kt-datatable__cell kt-datatable__toggle-detail"><a class="kt-datatable__toggle-detail" href=""><i class="fa fa-caret-right"></i></a></td>
                            <td data-field="Name" class="kt-datatable__cell"><span style="width: 200px;"><div class="kt-user-card-v2"><div class="kt-user-card-v2__pic"><img alt="photo" src="assets/media/users/100_12.jpg"></div><div class="kt-user-card-v2__details"><a class="kt-user-card-v2__name" href="#">Lucien Bonnaire</a><span class="kt-user-card-v2__desc">Developer</span></div></div></span></td>
                            <td data-field="Address" class="kt-datatable__cell"><span style="width: 150px;">Surabaya Office</span></td>
                            <td data-field="Country" class="kt-datatable__cell" style="display: none;"><span style="width: 110px;">Egypt</span></td>
                            <td data-field="DateCreated" class="kt-datatable__cell" style="display: none;"><span style="width: 110px;">11/6/2018</span></td>
                            <td data-field="DateModified" class="kt-datatable__cell" style="display: none;"><span style="width: 110px;">12/17/2018</span></td>
                            <td data-field="Type" data-autohide-disabled="false" class="kt-datatable__cell"><span style="width: 110px;"><span class="btn btn-bold btn-sm btn-font-sm  btn-label-brand">100 %</span></span></td>

                            <td data-field="Type" data-autohide-disabled="false" class="kt-datatable__cell"><span style="width: 110px;"><span class="btn btn-bold btn-sm btn-font-sm  btn-label-default">0</span></span></td>
                            <td data-field="Status" data-autohide-disabled="false" class="kt-datatable__cell"><span style="width: 110px;">&nbsp;<span class="kt-font-bold kt-font-primary">0</span></span></td>
                            <td data-field="Actions" data-autohide-disabled="false" class="kt-datatable__cell"><span style="overflow: visible; position: relative; width: 80px;"><a class="kt-nav__link" asp-area="" asp-controller="Report" asp-action="User"><i class="kt-nav__link-icon flaticon2-expand"></i><span class="kt-nav__link-text"> View</span></a></span></td></span></td>
                        </tr>
                        <tr data-row="9" class="kt-datatable__row kt-datatable__row--even" style="left: 0px;">
                            <td class="kt-datatable__cell kt-datatable__toggle-detail"><a class="kt-datatable__toggle-detail" href=""><i class="fa fa-caret-right"></i></a></td>
                            <td data-field="Name" class="kt-datatable__cell"><span style="width: 200px;"><div class="kt-user-card-v2"><div class="kt-user-card-v2__pic"><img alt="photo" src="assets/media/users/100_10.jpg"></div><div class="kt-user-card-v2__details"><a class="kt-user-card-v2__name" href="#">Augustus Kobes</a><span class="kt-user-card-v2__desc">Sales</span></div></div></span></td>
                            <td data-field="Address" class="kt-datatable__cell"><span style="width: 150px;">Cirebon Office</span></td>
                            <td data-field="Country" class="kt-datatable__cell" style="display: none;"><span style="width: 110px;">Dominican Republic</span></td>
                            <td data-field="DateCreated" class="kt-datatable__cell" style="display: none;"><span style="width: 110px;">3/10/2019</span></td>
                            <td data-field="DateModified" class="kt-datatable__cell" style="display: none;"><span style="width: 110px;">8/9/2018</span></td>
                            <td data-field="Type" data-autohide-disabled="false" class="kt-datatable__cell"><span style="width: 110px;"><span class="btn btn-bold btn-sm btn-font-sm  btn-label-danger">70 %</span></span></td>

                            <td data-field="Type" data-autohide-disabled="false" class="kt-datatable__cell"><span style="width: 110px;"><span class="btn btn-bold btn-sm btn-font-sm  btn-label-default">5</span></span></td>
                            <td data-field="Status" data-autohide-disabled="false" class="kt-datatable__cell"><span style="width: 110px;">&nbsp;<span class="kt-font-bold kt-font-danger">10</span></span></td>
                            <td data-field="Actions" data-autohide-disabled="false" class="kt-datatable__cell"><span style="overflow: visible; position: relative; width: 80px;"><a class="kt-nav__link" asp-area="" asp-controller="Report" asp-action="User"><i class="kt-nav__link-icon flaticon2-expand"></i><span class="kt-nav__link-text"> View</span></a></span></td></span></td>
                        </tr>
                    </tbody>
                </table><div class="kt-datatable__pager kt-datatable--paging-loaded"><ul class="kt-datatable__pager-nav"><li><a title="First" class="kt-datatable__pager-link kt-datatable__pager-link--first kt-datatable__pager-link--disabled" data-page="1" disabled="disabled"><i class="flaticon2-fast-back"></i></a></li><li><a title="Previous" class="kt-datatable__pager-link kt-datatable__pager-link--prev kt-datatable__pager-link--disabled" data-page="1" disabled="disabled"><i class="flaticon2-back"></i></a></li><li style=""></li><li style="display: none;"><input type="text" class="kt-pager-input form-control" title="Page number"></li><li><a class="kt-datatable__pager-link kt-datatable__pager-link-number kt-datatable__pager-link--active" data-page="1" title="1">1</a></li><li><a class="kt-datatable__pager-link kt-datatable__pager-link-number" data-page="2" title="2">2</a></li><li><a class="kt-datatable__pager-link kt-datatable__pager-link-number" data-page="3" title="3">3</a></li><li><a class="kt-datatable__pager-link kt-datatable__pager-link-number" data-page="4" title="4">4</a></li><li><a class="kt-datatable__pager-link kt-datatable__pager-link-number" data-page="5" title="5">5</a></li><li></li><li><a title="Next" class="kt-datatable__pager-link kt-datatable__pager-link--next" data-page="2"><i class="flaticon2-next"></i></a></li><li><a title="Last" class="kt-datatable__pager-link kt-datatable__pager-link--last" data-page="100"><i class="flaticon2-fast-next"></i></a></li></ul></div>
            </div>

        </div>
    </div>
</div>





@section scripts {
    <script>
        $('#report_index').addClass('kt-menu__item--active');
    </script>
}