﻿@{
    ViewData["Title"] = "Clean DDD Architecture Sample";
}


<div class="kt-subheader  kt-grid__item" id="kt_subheader">
    <div class="kt-container  kt-container--fluid ">
        <div class="kt-subheader__main">
            <h3 class="kt-subheader__title">Report Employee Detail</h3>
            <span class="kt-subheader__separator kt-subheader__separator--v"></span>

            <div class="kt-input-icon kt-input-icon--right kt-subheader__search kt-hidden">
                <input type="text" class="form-control" placeholder="Search order..." id="generalSearch">
                <span class="kt-input-icon__icon kt-input-icon__icon--right">
                    <span><i class="flaticon2-search-1"></i></span>
                </span>
            </div>
        </div>
    </div>
</div>

<!-- end:: Content Head -->
<!-- begin:: Content -->
<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">

    <!--Begin::App-->
    <div class="kt-grid kt-grid--desktop kt-grid--ver kt-grid--ver-desktop kt-app">

        <!--Begin:: App Aside Mobile Toggle-->
        <button class="kt-app__aside-close" id="kt_user_profile_aside_close">
            <i class="la la-close"></i>
        </button>

        <!--End:: App Aside Mobile Toggle-->
        <!--Begin:: App Aside-->
        <div class="kt-grid__item kt-app__toggle kt-app__aside" id="kt_user_profile_aside">

            <!--Begin::Portlet-->
            <div class="kt-portlet kt-portlet--height-fluid-">
                <div class="kt-portlet__head kt-portlet__head--noborder">
                    <div class="kt-portlet__head-label">
                        <h3 class="kt-portlet__head-title">
                        </h3>
                    </div>
                    <div class="kt-portlet__head-toolbar">
                        <a href="#" class="btn btn-clean btn-sm btn-icon btn-icon-md" data-toggle="dropdown">
                            <i class="flaticon-more-1"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <ul class="kt-nav">
                                <li class="kt-nav__item">
                                    <a href="#" class="kt-nav__link">
                                        <i class="kt-nav__link-icon flaticon2-line-chart"></i>
                                        <span class="kt-nav__link-text">Reports</span>
                                    </a>
                                </li>
                                <li class="kt-nav__item">
                                    <a href="#" class="kt-nav__link">
                                        <i class="kt-nav__link-icon flaticon2-send"></i>
                                        <span class="kt-nav__link-text">Messages</span>
                                    </a>
                                </li>
                                <li class="kt-nav__item">
                                    <a href="#" class="kt-nav__link">
                                        <i class="kt-nav__link-icon flaticon2-pie-chart-1"></i>
                                        <span class="kt-nav__link-text">Charts</span>
                                    </a>
                                </li>
                                <li class="kt-nav__item">
                                    <a href="#" class="kt-nav__link">
                                        <i class="kt-nav__link-icon flaticon2-avatar"></i>
                                        <span class="kt-nav__link-text">Members</span>
                                    </a>
                                </li>
                                <li class="kt-nav__item">
                                    <a href="#" class="kt-nav__link">
                                        <i class="kt-nav__link-icon flaticon2-settings"></i>
                                        <span class="kt-nav__link-text">Settings</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="kt-portlet__body">

                    <!--begin::Widget -->
                    <div class="kt-widget kt-widget--user-profile-2">
                        <div class="kt-widget__head">
                            <div class="kt-widget__media">
                                <img class="kt-widget__img kt-hidden-" src="~/assets/media//users/100_6.jpg" alt="image">
                                <div class="kt-widget__pic kt-widget__pic--danger kt-font-danger kt-font-boldest kt-font-light kt-hidden">
                                    MP
                                </div>
                            </div>
                            <div class="kt-widget__info">
                                <a href="#" class="kt-widget__username">
                                    Matt Peares
                                </a>
                                <span class="kt-widget__desc">
                                    Head of Development
                                </span>
                            </div>
                        </div>
                        <div class="kt-widget__body">
                            <div class="kt-widget__section">
                                Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical.
                            </div>
                            <div class="kt-widget__item">
                                <div class="kt-widget__contact">
                                    <span class="kt-widget__label">Email:</span>
                                    <a href="#" class="kt-widget__data">matt@transvision.com</a>
                                </div>
                                <div class="kt-widget__contact">
                                    <span class="kt-widget__label">Phone:</span>
                                    <a href="#" class="kt-widget__data">44(76)34254578</a>
                                </div>
                                <div class="kt-widget__contact">
                                    <span class="kt-widget__label">Location:</span>
                                    <span class="kt-widget__data">Jakarta</span>
                                </div>
                            </div>
                        </div>
                        <div class="kt-widget__footer">
                            <button type="button" class="btn btn-label-success btn-lg btn-upper">write message</button>
                        </div>
                    </div>

                    <!--end::Widget -->
                    <!--begin::Navigation -->
                    <ul class="kt-nav kt-nav--bold kt-nav--md-space kt-margin-t-20 kt-margin-b-20 kt-hidden" role="tablist">
                        <li class="kt-nav__item kt-nav__item--active">
                            <a class="kt-nav__link active" data-toggle="tab" href="#kt_profile_tab_personal_information" role="tab">
                                <span class="kt-nav__link-icon"><i class="flaticon2-calendar-3"></i></span>
                                <span class="kt-nav__link-text">Personal Information</span>
                            </a>
                        </li>
                        <li class="kt-nav__item">
                            <a class="kt-nav__link" data-toggle="tab" href="#kt_profile_tab_account_information" role="tab">
                                <span class="kt-nav__link-icon"><i class="flaticon2-protected"></i></span>
                                <span class="kt-nav__link-text">Acccount Information</span>
                            </a>
                        </li>
                        <li class="kt-nav__item">
                            <a class="kt-nav__link" href="#" role="tab" data-toggle="kt-tooltip" title="" data-placement="right" data-original-title="This feature is coming soon!">
                                <span class="kt-nav__link-icon"><i class="flaticon2-hourglass-1"></i></span>
                                <span class="kt-nav__link-text">Payments</span>
                            </a>
                        </li>
                        <li class="kt-nav__separator"></li>
                        <li class="kt-nav__item">
                            <a class="kt-nav__link" href="#" role="tab" data-toggle="kt-tooltip" title="" data-placement="right" data-original-title="This feature is coming soon!">
                                <span class="kt-nav__link-icon"><i class="flaticon2-bell-2"></i></span>
                                <span class="kt-nav__link-text">Statements</span>
                            </a>
                        </li>
                        <li class="kt-nav__item">
                            <a class="kt-nav__link" href="#" role="tab" data-toggle="kt-tooltip" title="" data-placement="right" data-original-title="This feature is coming soon!">
                                <span class="kt-nav__link-icon"><i class="flaticon2-medical-records-1"></i></span>
                                <span class="kt-nav__link-text">Audit Log</span>
                            </a>
                        </li>
                    </ul>

                    <!--end::Navigation -->
                </div>
            </div>

            <!--End::Portlet-->

        </div>

        <!--End:: App Aside-->
        <!--Begin:: App Content-->
        <div class="kt-grid__item kt-grid__item--fluid kt-app__content">
            <div class="row">
                <div class="col">

                    <!--Begin::Section-->
                    <div class="kt-portlet">
                        <div class="kt-portlet__body kt-portlet__body--fit">
                            <div class="row row-no-padding row-col-separator-xl">
                                <div class="col-md-12 col-lg-12 col-xl-5">

                                    <!--begin:: Widgets/Stats2-1 -->
                                    <div class="kt-widget1">
                                        <div class="kt-widget1__item">
                                            <div class="kt-widget1__info">
                                                <h3 class="kt-widget1__title">Attendance</h3>
                                                <span class="kt-widget1__desc">On This Month</span>
                                            </div>
                                            <span class="kt-widget1__number kt-font-brand"> 18</span>
                                        </div>
                                        <div class="kt-widget1__item">
                                            <div class="kt-widget1__info">
                                                <h3 class="kt-widget1__title">Late</h3>
                                                <span class="kt-widget1__desc">On This Month</span>
                                            </div>
                                            <span class="kt-widget1__number kt-font-danger"> 5</span>
                                        </div>
                                        <div class="kt-widget1__item">
                                            <div class="kt-widget1__info">
                                                <h3 class="kt-widget1__title">On Time Arival</h3>
                                                <span class="kt-widget1__desc">Average </span>
                                            </div>
                                            <span class="kt-widget1__number kt-font-success"> 80%</span>
                                        </div>
                                    </div>

                                    <!--end:: Widgets/Stats2-1 -->
                                </div>
                                <div class="col-md-12 col-lg-12 col-xl-7">



                                    <div class="kt-portlet kt-portlet--height-fluid">
                                        <div class="kt-widget14">
                                            <div class="kt-widget14__header">
                                                <h3 class="kt-widget14__title">
                                                    Performance
                                                </h3>
                                            </div>
                                            <div class="kt-widget14__content">
                                                <div class="kt-widget14__chart">
                                                    <div class="kt-widget14__stat">80</div>
                                                    <canvas id="kt_chart_profit_share" style="height: 140px; width: 140px;"></canvas>
                                                </div>
                                                <div class="kt-widget14__legends">

                                                    <div class="kt-widget14__legend">
                                                        <span class="kt-widget14__bullet kt-bg-success"></span>
                                                        <span class="kt-widget14__stats">82% Absence</span>
                                                    </div>
                                                    <div class="kt-widget14__legend">
                                                        <span class="kt-widget14__bullet kt-bg-danger"></span>
                                                        <span class="kt-widget14__stats">10% Attendance Late In/Early Out</span>
                                                    </div>
                                                    <div class="kt-widget14__legend">
                                                        <span class="kt-widget14__bullet kt-bg-fill-info"></span>
                                                        <span class="kt-widget14__stats">4% Permit</span>
                                                    </div>
                                                    <div class="kt-widget14__legend">
                                                        <span class="kt-widget14__bullet kt-bg-light-brand"></span>
                                                        <span class="kt-widget14__stats">4% Leave</span>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>



                                </div>
                            </div>
                        </div>
                    </div>

                    <!--End::Section-->
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12">

                    <!--begin:: Widgets/Finance Summary-->
                    <div class="kt-portlet kt-portlet--height-fluid">
                        <div class="kt-portlet__head">
                            <div class="kt-portlet__head-label">
                                <h3 class="kt-portlet__head-title">
                                    Attendance List
                                </h3>
                            </div>
                            <div class="kt-portlet__head-toolbar">
                                <a href="#" class="btn btn-label-brand btn-sm  btn-bold dropdown-toggle" data-toggle="dropdown">
                                    Januari 2020
                                </a>
                            </div>
                        </div>
                        <div class="kt-portlet__body">
                            <div class="kt-datatable kt-datatable--default kt-datatable--brand kt-datatable--loaded" id="local_data" style="">

                                <table class="kt-datatable__table" style="display: block;">
                                    <thead class="kt-datatable__head">
                                        <tr class="kt-datatable__row" style="left: 0px;">

                                            <th data-field="Country" class="kt-datatable__cell kt-datatable__cell--sort"><span style="width: 133px;">Check In Location</span></th>
                                            <th data-field="ShipDate" class="kt-datatable__cell kt-datatable__cell--sort"><span style="width: 133px;">Date In</span></th>
                                            <th data-field="CompanyName" class="kt-datatable__cell kt-datatable__cell--sort"><span style="width: 133px;">Time In</span></th>
                                            <th data-field="CompanyName" class="kt-datatable__cell kt-datatable__cell--sort"><span style="width: 133px;">Time Out</span></th>
                                            <th data-field="Status" class="kt-datatable__cell kt-datatable__cell--sort"><span style="width: 133px;">Status (In/Out)</span></th>
                                            <th data-field="Type" data-autohide-disabled="false" class="kt-datatable__cell kt-datatable__cell--sort"><span style="width: 133px;">Type</span></th>
                                            <th data-field="Actions" data-autohide-disabled="false" class="kt-datatable__cell kt-datatable__cell--sort"><span style="width: 110px;">Actions</span></th>
                                        </tr>
                                    </thead>
                                    <tbody class="kt-datatable__body" style="">
                                        <tr data-row="0" class="kt-datatable__row" style="left: 0px;">

                                            <td data-field="Country" class="kt-datatable__cell"><span style="width: 133px;">Jakarta</span></td>
                                            <td data-field="ShipDate" class="kt-datatable__cell"><span style="width: 133px;">8/27/2017</span></td>
                                            <td data-field="CompanyName" class="kt-datatable__cell"><span style="width: 133px;">07:23:15 AM</span></td>
                                            <td data-field="CompanyName" class="kt-datatable__cell"><span style="width: 133px;">05:37:00 PM</span></td>
                                            <td data-field="Status" class="kt-datatable__cell">
                                                <span style="width: 133px;"><span class="kt-badge  kt-badge--danger kt-badge--inline kt-badge--pill">Late Arrival</span></span>
                                            </td>
                                            <td data-field="Type" data-autohide-disabled="false" class="kt-datatable__cell">
                                                <span style="width: 133px;"><span class="kt-badge kt-badge--primary kt-badge--dot"></span>&nbsp;<span class="kt-font-bold kt-font-primary">Field Staff</span></span>
                                            </td>
                                            <td data-field="Actions" data-autohide-disabled="false" class="kt-datatable__cell"><span style="overflow: visible; position: relative; width: 110px;">						<div class="dropdown">													  	<div class="dropdown-menu dropdown-menu-right">						    	<a href="#" class="dropdown-item"><i class="la la-edit"></i> Edit Details</a>						    	<a href="#" class="dropdown-item"><i class="la la-leaf"></i> Update Status</a>						    	<a href="#" class="dropdown-item"><i class="la la-print"></i> Generate Report</a>						  	</div>						</div>						<a title="Edit details" class="btn btn-sm btn-clean btn-icon btn-icon-md">							<i class="la la-edit"></i>						</a>						<a title="Delete" class="btn btn-sm btn-clean btn-icon btn-icon-md">							<i class="la la-trash"></i>						</a>					</span></td>
                                        </tr>
                                        <tr data-row="1" class="kt-datatable__row kt-datatable__row--even" style="left: 0px;">

                                            <td data-field="Country" class="kt-datatable__cell"><span style="width: 133px;">Jakarta</span></td>
                                            <td data-field="ShipDate" class="kt-datatable__cell"><span style="width: 133px;">9/3/2017</span></td>
                                            <td data-field="CompanyName" class="kt-datatable__cell"><span style="width: 133px;">07:23:15 AM</span></td>
                                            <td data-field="CompanyName" class="kt-datatable__cell"><span style="width: 133px;">05:37:00 PM</span></td>
                                            <td data-field="Status" class="kt-datatable__cell">
                                                <span style="width: 133px;"><span class="kt-badge  kt-badge--success kt-badge--inline kt-badge--pill">In Time</span></span>
                                            </td>
                                            <td data-field="Type" data-autohide-disabled="false" class="kt-datatable__cell">
                                                <span style="width: 133px;"><span class="kt-badge kt-badge--primary kt-badge--dot"></span>&nbsp;<span class="kt-font-bold kt-font-primary">Field Staff</span></span>
                                            </td>
                                            <td data-field="Actions" data-autohide-disabled="false" class="kt-datatable__cell"><span style="overflow: visible; position: relative; width: 110px;">						<div class="dropdown">													  	<div class="dropdown-menu dropdown-menu-right">						    	<a href="#" class="dropdown-item"><i class="la la-edit"></i> Edit Details</a>						    	<a href="#" class="dropdown-item"><i class="la la-leaf"></i> Update Status</a>						    	<a href="#" class="dropdown-item"><i class="la la-print"></i> Generate Report</a>						  	</div>						</div>						<a title="Edit details" class="btn btn-sm btn-clean btn-icon btn-icon-md">							<i class="la la-edit"></i>						</a>						<a title="Delete" class="btn btn-sm btn-clean btn-icon btn-icon-md">							<i class="la la-trash"></i>						</a>					</span></td>
                                        </tr>
                                        <tr data-row="2" class="kt-datatable__row" style="left: 0px;">

                                            <td data-field="Country" class="kt-datatable__cell"><span style="width: 133px;">Jakarta</span></td>
                                            <td data-field="ShipDate" class="kt-datatable__cell"><span style="width: 133px;">4/23/2016</span></td>
                                            <td data-field="CompanyName" class="kt-datatable__cell"><span style="width: 133px;">07:23:15 AM</span></td>
                                            <td data-field="CompanyName" class="kt-datatable__cell"><span style="width: 133px;">05:37:00 PM</span></td>
                                            <td data-field="Status" class="kt-datatable__cell">
                                                <span style="width: 133px;"><span class="kt-badge  kt-badge--success kt-badge--inline kt-badge--pill">In Time</span></span>
                                            </td>
                                            <td data-field="Type" data-autohide-disabled="false" class="kt-datatable__cell">
                                                <span style="width: 133px;"><span class="kt-badge kt-badge--danger kt-badge--dot"></span>&nbsp;<span class="kt-font-bold kt-font-danger">Online</span></span>
                                            </td>
                                            <td data-field="Actions" data-autohide-disabled="false" class="kt-datatable__cell"><span style="overflow: visible; position: relative; width: 110px;">						<div class="dropdown">													  	<div class="dropdown-menu dropdown-menu-right">						    	<a href="#" class="dropdown-item"><i class="la la-edit"></i> Edit Details</a>						    	<a href="#" class="dropdown-item"><i class="la la-leaf"></i> Update Status</a>						    	<a href="#" class="dropdown-item"><i class="la la-print"></i> Generate Report</a>						  	</div>						</div>						<a title="Edit details" class="btn btn-sm btn-clean btn-icon btn-icon-md">							<i class="la la-edit"></i>						</a>						<a title="Delete" class="btn btn-sm btn-clean btn-icon btn-icon-md">							<i class="la la-trash"></i>						</a>					</span></td>
                                        </tr>
                                        <tr data-row="3" class="kt-datatable__row kt-datatable__row--even" style="left: 0px;">

                                            <td data-field="Country" class="kt-datatable__cell"><span style="width: 133px;">Jakarta</span></td>
                                            <td data-field="ShipDate" class="kt-datatable__cell"><span style="width: 133px;">9/6/2017</span></td>
                                            <td data-field="CompanyName" class="kt-datatable__cell"><span style="width: 133px;">07:25:00 AM</span></td>
                                            <td data-field="CompanyName" class="kt-datatable__cell"><span style="width: 133px;">05:37:00 PM</span></td>
                                            <td data-field="Status" class="kt-datatable__cell">
                                                <span style="width: 133px;"><span class="kt-badge  kt-badge--success kt-badge--inline kt-badge--pill">In Time</span></span>
                                            </td>
                                            <td data-field="Type" data-autohide-disabled="false" class="kt-datatable__cell">
                                                <span style="width: 133px;"><span class="kt-badge kt-badge--primary kt-badge--dot"></span>&nbsp;<span class="kt-font-bold kt-font-primary">Field Staff</span></span>
                                            </td>
                                            <td data-field="Actions" data-autohide-disabled="false" class="kt-datatable__cell"><span style="overflow: visible; position: relative; width: 110px;">						<div class="dropdown">													  	<div class="dropdown-menu dropdown-menu-right">						    	<a href="#" class="dropdown-item"><i class="la la-edit"></i> Edit Details</a>						    	<a href="#" class="dropdown-item"><i class="la la-leaf"></i> Update Status</a>						    	<a href="#" class="dropdown-item"><i class="la la-print"></i> Generate Report</a>						  	</div>						</div>						<a title="Edit details" class="btn btn-sm btn-clean btn-icon btn-icon-md">							<i class="la la-edit"></i>						</a>						<a title="Delete" class="btn btn-sm btn-clean btn-icon btn-icon-md">							<i class="la la-trash"></i>						</a>					</span></td>
                                        </tr>
                                        <tr data-row="4" class="kt-datatable__row" style="left: 0px;">

                                            <td data-field="Country" class="kt-datatable__cell"><span style="width: 133px;">Jakarta</span></td>
                                            <td data-field="ShipDate" class="kt-datatable__cell"><span style="width: 133px;">10/28/2017</span></td>
                                            <td data-field="CompanyName" class="kt-datatable__cell"><span style="width: 133px;">07:25:00 AM</span></td>
                                            <td data-field="CompanyName" class="kt-datatable__cell"><span style="width: 133px;">05:37:00 PM</span></td>
                                            <td data-field="Status" class="kt-datatable__cell">
                                                <span style="width: 133px;"><span class="kt-badge  kt-badge--success kt-badge--inline kt-badge--pill">In Time</span></span>
                                            </td>
                                            <td data-field="Type" data-autohide-disabled="false" class="kt-datatable__cell">
                                                <span style="width: 133px;"><span class="kt-badge kt-badge--danger kt-badge--dot"></span>&nbsp;<span class="kt-font-bold kt-font-danger">Online</span></span>
                                            </td>
                                            <td data-field="Actions" data-autohide-disabled="false" class="kt-datatable__cell"><span style="overflow: visible; position: relative; width: 110px;">						<div class="dropdown">													  	<div class="dropdown-menu dropdown-menu-right">						    	<a href="#" class="dropdown-item"><i class="la la-edit"></i> Edit Details</a>						    	<a href="#" class="dropdown-item"><i class="la la-leaf"></i> Update Status</a>						    	<a href="#" class="dropdown-item"><i class="la la-print"></i> Generate Report</a>						  	</div>						</div>						<a title="Edit details" class="btn btn-sm btn-clean btn-icon btn-icon-md">							<i class="la la-edit"></i>						</a>						<a title="Delete" class="btn btn-sm btn-clean btn-icon btn-icon-md">							<i class="la la-trash"></i>						</a>					</span></td>
                                        </tr>
                                        <tr data-row="5" class="kt-datatable__row kt-datatable__row--even" style="left: 0px;">

                                            <td data-field="Country" class="kt-datatable__cell"><span style="width: 133px;">Bandung</span></td>
                                            <td data-field="ShipDate" class="kt-datatable__cell"><span style="width: 133px;">4/6/2017</span></td>
                                            <td data-field="CompanyName" class="kt-datatable__cell"><span style="width: 133px;">07:25:00 AM</span></td>
                                            <td data-field="CompanyName" class="kt-datatable__cell"><span style="width: 133px;">05:37:00 PM</span></td>
                                            <td data-field="Status" class="kt-datatable__cell">
                                                <span style="width: 133px;"><span class="kt-badge  kt-badge--success kt-badge--inline kt-badge--pill">In Time</span></span>
                                            </td>
                                            <td data-field="Type" data-autohide-disabled="false" class="kt-datatable__cell">
                                                <span style="width: 133px;"><span class="kt-badge kt-badge--success kt-badge--dot"></span>&nbsp;<span class="kt-font-bold kt-font-success">Direct</span></span>
                                            </td>
                                            <td data-field="Actions" data-autohide-disabled="false" class="kt-datatable__cell"><span style="overflow: visible; position: relative; width: 110px;">						<div class="dropdown">													  	<div class="dropdown-menu dropdown-menu-right">						    	<a href="#" class="dropdown-item"><i class="la la-edit"></i> Edit Details</a>						    	<a href="#" class="dropdown-item"><i class="la la-leaf"></i> Update Status</a>						    	<a href="#" class="dropdown-item"><i class="la la-print"></i> Generate Report</a>						  	</div>						</div>						<a title="Edit details" class="btn btn-sm btn-clean btn-icon btn-icon-md">							<i class="la la-edit"></i>						</a>						<a title="Delete" class="btn btn-sm btn-clean btn-icon btn-icon-md">							<i class="la la-trash"></i>						</a>					</span></td>
                                        </tr>
                                        <tr data-row="6" class="kt-datatable__row" style="left: 0px;">

                                            <td data-field="Country" class="kt-datatable__cell"><span style="width: 133px;">Jakarta</span></td>
                                            <td data-field="ShipDate" class="kt-datatable__cell"><span style="width: 133px;">4/15/2017</span></td>
                                            <td data-field="CompanyName" class="kt-datatable__cell"><span style="width: 133px;">07:25:00 AM</span></td>
                                            <td data-field="CompanyName" class="kt-datatable__cell"><span style="width: 133px;">05:37:00 PM</span></td>
                                            <td data-field="Status" class="kt-datatable__cell">
                                                <span style="width: 133px;"><span class="kt-badge  kt-badge--primary kt-badge--inline kt-badge--pill">Permit</span></span>
                                            </td>
                                            <td data-field="Type" data-autohide-disabled="false" class="kt-datatable__cell">
                                                <span style="width: 133px;"><span class="kt-badge kt-badge--primary kt-badge--dot"></span>&nbsp;<span class="kt-font-bold kt-font-primary">Field Staff</span></span>
                                            </td>
                                            <td data-field="Actions" data-autohide-disabled="false" class="kt-datatable__cell"><span style="overflow: visible; position: relative; width: 110px;">						<div class="dropdown">													  	<div class="dropdown-menu dropdown-menu-right">						    	<a href="#" class="dropdown-item"><i class="la la-edit"></i> Edit Details</a>						    	<a href="#" class="dropdown-item"><i class="la la-leaf"></i> Update Status</a>						    	<a href="#" class="dropdown-item"><i class="la la-print"></i> Generate Report</a>						  	</div>						</div>						<a title="Edit details" class="btn btn-sm btn-clean btn-icon btn-icon-md">							<i class="la la-edit"></i>						</a>						<a title="Delete" class="btn btn-sm btn-clean btn-icon btn-icon-md">							<i class="la la-trash"></i>						</a>					</span></td>
                                        </tr>
                                        <tr data-row="7" class="kt-datatable__row kt-datatable__row--even" style="left: 0px;">

                                            <td data-field="Country" class="kt-datatable__cell"><span style="width: 133px;">Semarang</span></td>
                                            <td data-field="ShipDate" class="kt-datatable__cell"><span style="width: 133px;">6/13/2016</span></td>
                                            <td data-field="CompanyName" class="kt-datatable__cell"><span style="width: 133px;">07:25:00 AM</span></td>
                                            <td data-field="CompanyName" class="kt-datatable__cell"><span style="width: 133px;">05:37:00 PM</span></td>
                                            <td data-field="Status" class="kt-datatable__cell">
                                                <span style="width: 133px;"><span class="kt-badge  kt-badge--danger kt-badge--inline kt-badge--pill">Late Arrival</span></span>
                                            </td>
                                            <td data-field="Type" data-autohide-disabled="false" class="kt-datatable__cell">
                                                <span style="width: 133px;"><span class="kt-badge kt-badge--primary kt-badge--dot"></span>&nbsp;<span class="kt-font-bold kt-font-primary">Field Staff</span></span>
                                            </td>
                                            <td data-field="Actions" data-autohide-disabled="false" class="kt-datatable__cell"><span style="overflow: visible; position: relative; width: 110px;">						<div class="dropdown">													  	<div class="dropdown-menu dropdown-menu-right">						    	<a href="#" class="dropdown-item"><i class="la la-edit"></i> Edit Details</a>						    	<a href="#" class="dropdown-item"><i class="la la-leaf"></i> Update Status</a>						    	<a href="#" class="dropdown-item"><i class="la la-print"></i> Generate Report</a>						  	</div>						</div>						<a title="Edit details" class="btn btn-sm btn-clean btn-icon btn-icon-md">							<i class="la la-edit"></i>						</a>						<a title="Delete" class="btn btn-sm btn-clean btn-icon btn-icon-md">							<i class="la la-trash"></i>						</a>					</span></td>
                                        </tr>
                                        <tr data-row="8" class="kt-datatable__row" style="left: 0px;">

                                            <td data-field="Country" class="kt-datatable__cell"><span style="width: 133px;">Jakarta</span></td>
                                            <td data-field="ShipDate" class="kt-datatable__cell"><span style="width: 133px;">11/14/2016</span></td>
                                            <td data-field="CompanyName" class="kt-datatable__cell"><span style="width: 133px;">07:25:00 AM</span></td>
                                            <td data-field="CompanyName" class="kt-datatable__cell"><span style="width: 133px;">05:37:00 PM</span></td>
                                            <td data-field="Status" class="kt-datatable__cell">
                                                <span style="width: 133px;"><span class="kt-badge  kt-badge--success kt-badge--inline kt-badge--pill">In Time</span></span>
                                            </td>
                                            <td data-field="Type" data-autohide-disabled="false" class="kt-datatable__cell">
                                                <span style="width: 133px;"><span class="kt-badge kt-badge--primary kt-badge--dot"></span>&nbsp;<span class="kt-font-bold kt-font-primary">Field Staff</span></span>
                                            </td>
                                            <td data-field="Actions" data-autohide-disabled="false" class="kt-datatable__cell"><span style="overflow: visible; position: relative; width: 110px;">						<div class="dropdown">													  	<div class="dropdown-menu dropdown-menu-right">						    	<a href="#" class="dropdown-item"><i class="la la-edit"></i> Edit Details</a>						    	<a href="#" class="dropdown-item"><i class="la la-leaf"></i> Update Status</a>						    	<a href="#" class="dropdown-item"><i class="la la-print"></i> Generate Report</a>						  	</div>						</div>						<a title="Edit details" class="btn btn-sm btn-clean btn-icon btn-icon-md">							<i class="la la-edit"></i>						</a>						<a title="Delete" class="btn btn-sm btn-clean btn-icon btn-icon-md">							<i class="la la-trash"></i>						</a>					</span></td>
                                        </tr>
                                        <tr data-row="9" class="kt-datatable__row kt-datatable__row--even" style="left: 0px;">

                                            <td data-field="Country" class="kt-datatable__cell"><span style="width: 133px;">Jakarta</span></td>
                                            <td data-field="ShipDate" class="kt-datatable__cell"><span style="width: 133px;">8/2/2017</span></td>
                                            <td data-field="CompanyName" class="kt-datatable__cell"><span style="width: 133px;">07:25:00 AM</span></td>
                                            <td data-field="CompanyName" class="kt-datatable__cell"><span style="width: 133px;">05:37:00 PM</span></td>
                                            <td data-field="Status" class="kt-datatable__cell">
                                                <span style="width: 133px;"><span class="kt-badge  kt-badge--danger kt-badge--inline kt-badge--pill">Late Arrival</span></span>
                                            </td>
                                            <td data-field="Type" data-autohide-disabled="false" class="kt-datatable__cell">
                                                <span style="width: 133px;"><span class="kt-badge kt-badge--danger kt-badge--dot"></span>&nbsp;<span class="kt-font-bold kt-font-danger">Online</span></span>
                                            </td>
                                            <td data-field="Actions" data-autohide-disabled="false" class="kt-datatable__cell"><span style="overflow: visible; position: relative; width: 110px;">						<div class="dropdown">													  	<div class="dropdown-menu dropdown-menu-right">						    	<a href="#" class="dropdown-item"><i class="la la-edit"></i> Edit Details</a>						    	<a href="#" class="dropdown-item"><i class="la la-leaf"></i> Update Status</a>						    	<a href="#" class="dropdown-item"><i class="la la-print"></i> Generate Report</a>						  	</div>						</div>						<a title="Edit details" class="btn btn-sm btn-clean btn-icon btn-icon-md">							<i class="la la-edit"></i>						</a>						<a title="Delete" class="btn btn-sm btn-clean btn-icon btn-icon-md">							<i class="la la-trash"></i>						</a>					</span></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <!--end:: Widgets/Finance Summary-->
                </div>
            </div>
        </div>

        <!--End:: App Content-->
    </div>

    <!--End::App-->
</div>

<!-- end:: Content -->


@section scripts {
<script>
    $('#report_index').addClass('kt-menu__item--active');
</script>
}